//_base.scss
@import "compass";

//MIXINS

//BACKGROUND IMAGE
//Use this to easily include background images.
//If needed, additional background properties can be added or original property can be changed
@mixin bkgrdImg($image){
	background:url(../../../images/#{$image}) 0 0 no-repeat;
}

//EXTENDS
//Use these to extend commonly needed properties
%displayBlock{
    display:block;
}
%floatLeft{
    float:left;
}

//COLORS
$grey: #3d3d3f;
$darkGrey: #39383b;
$medGrey: #808285;
$lightBlue: #00aee6;
$blue: #00506e;
$darkBlue: #00749c;
$green: #d3de25;
$lightGreen: #d7df27;