//_base.scss
@import "compass";

//MIXINS

//BACKGROUND IMAGE
//Use this to easily include background images.
//If needed, additional background properties can be added or original property can be changed
@mixin bkgrdImg($image){
	background:url(../../../images/#{$image}) 0 0 no-repeat;
}

//EXTENDS
//Use these to extend commonly needed properties
%displayBlock{
    display:block;
}
%floatLeft{
    float:left;
}