//_general.scss
//GENERAL
body {
	background:#fff;
	color:$darkGrey;
	font:400 16px/24px 'Open Sans', Arial, Helvetica, sans-serif;
	margin:0 auto;
}
.clearfix:after {
	@extend %displayBlock;
    content: "";
    height: 0;
    clear: both;
    visibility: hidden;
 	overflow: hidden;
}

.container{
	width:100%;
	margin:0 auto;
	min-width:320px;
}
.box{
	box-sizing:border-box;
	margin:0 auto;
	padding:0 20px;
	max-width:980px;
}

a{
	color:$lightBlue;
	outline:none;
	&:hover{
		color:$blue;
	}
	&:focus {
		outline:none;
	}
}
img,
iframe{
	border:0 none;
}
p,
ul,
ol{
	margin:0;
	padding:0;
}

header,
footer{
	width:100%;
}

//CONTENT
.mtwWrapper{
	margin:0 auto;
	padding-top:80px;
	width:100%;
	&.extend{
		padding-top:116px;
	}
}

//Donate Map
.mapSmall {
	display: none;
}

// Tablet (Portrait):  Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
    	width: 100%;
    }
}
// Mobile (Portrait): Design for a width of 320px */
@media only screen and (max-width: 979px) {
}
// Mobile (Portrait): Design for a width of 320px */
@media only screen and (max-width: 767px) {
    .container {
    }
}
// Mobile (Landscape): Design for a width of 480px
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
    }
}

@media only screen and (max-width: 640px) {
	.mapLarge {
		display: none;
	}
	.mapSmall {
		display: block;
	}
}