//_general.scss
//GENERAL
body {
	background:#fff;
	margin:0 auto;
	font:400 14px/16px 'Open Sans', Arial, Helvetica, sans-serif;
	color:$darkGrey;
}
.clearfix:after {
	@extend %displayBlock;
    content: "";
    height: 0;
    clear: both;
    visibility: hidden;
 	overflow: hidden;
}

.container{
	width:100%;
	margin:0 auto;
}
.box{
	box-sizing:border-box;
	margin:0 auto;
	padding:0 20px;
	min-width:320px;
	max-width:980px;
}

a{
	color:#fff;
	outline:none;
	&:hover{
		color:$lightBlue;
	}
	&:focus {
		outline:none;
	}
}
img{
	border:0 none;
}
p,
ul,
ol{
	margin:0;
	padding:0;
}

header,
footer{
	width:100%;
}

//CONTENT
.mtwWrapper{
	margin:0 auto;
	padding-top:80px;
	width:100%;
}

//FOOTER
footer {
	background:$darkGrey;
	color:#fff;
	padding:20px 0;
	width:100%;

	.colHead {		
		border-bottom: 1px dotted;
		font-size: 15px;
		line-height: 17px;
		margin-bottom: 12px;
		padding-bottom: 5px;
		max-width: 85%;
	}

	ul{
		list-style: none;

		li {
			font-size: 13px;
			line-height: 16px;
		}
	}
	a{
		text-decoration:none;
	}
}
.col {
	@extend %floatLeft;
	width:20%;
}

.socialMedia{
	a{
		@extend %floatLeft;
		@extend %displayBlock;
		@include border-radius(50%);
		background:$medGrey;
		color:$darkGrey;
		line-height:25px;
		text-align:center;
		height:25px;
		margin:0 15px 15px 0;
		width:25px;
		&:hover{
			color:#fff;
		}
	}
	.btnPin{
		background:$darkGrey;
		color:$medGrey;
		font-size:30px;
		margin-top:-1px;
		&:hover{
			color:#cb2027;
			i{
				@include border-radius(50%);
				background:#fff;
			}
		}
	}
}
.btnFB{
	font-size:17px;
	&:hover{
		background:#3b5998;
	}
}
.btnTW{
	font-size:18px;
	&:hover{
		background:#00aced;
	}
}
.btnIn{
	font-size:13px;
	&:hover{
		background:#1180ba;
	}
}
.btnIG{
	font-size:18px;
}
.btnYT{
	font-size:19px;
	&:hover{
		background:#f33;
	}
}

// Tablet (Portrait):  Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
    	width: 100%;
    }
}
// Mobile (Portrait): Design for a width of 320px */
@media only screen and (max-width: 979px) {
}
// Mobile (Portrait): Design for a width of 320px */
@media only screen and (max-width: 767px) {
    .container {
    }
    .col {
    	box-sizing:border-box;
    	float:none;
    	margin:15px auto;
    	padding:0 10px;
    	width:85%;
    }
}
// Mobile (Landscape): Design for a width of 480px
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
    }
}