//_movers.scss
//GENERAL
.pageGrid{
	max-width:980px;
	h1{
		text:{
			align:center;
			transform:uppercase;
		}
	}
	h3{
		color:$lightGreen;
		font-size:21px;
		line-height:26px;
		text-transform:uppercase;
		margin:0 0 30px;
		span{
			@extend %displayBlock;
			font-weight:400;
		}
	}
	.gridList{
		list-style:none;
		margin:0;
		padding:0;
		li{
			display:inline-block;
			vertical-align:top;
		}
	}
}

//TEAM
.indivMover{
	width:24.5%;
	a{
		@extend %displayBlock;
		text-align:center;
		width:100%;
		max-width:210px;
		margin:0 auto 20px;
		text-decoration:none;
		position:relative;
		h3{
			color:#fff;
			padding:0 10px;
		}
	}
	img{
		@extend %displayBlock;
		@include border-radius(50%);
		overflow:hidden;
		width:100%;
		max-width:210px;
		max-height:210px;
	}
	&:hover{
		.moverRO{
			@extend %displayBlock;
		}
	}
	&.active{
		.moverRO{
			@extend %displayBlock;
			background:none;
			border-radius:0;
			height:auto;
			position:relative;
			h3{
				@extend %displayBlock;
				color:$lightBlue;
				margin:20px 0 0;
			}
		}
		.moverDesc{
			@extend %displayBlock;
			background:$lightBlue;
			color:#fff;
		}
	}
}
.imgPlaceholder{
	background:$grey;
}
.moverRO{
	@include border-radius(50%);
	background:$darkBlue;
	color:#fff;
	display:none;
	height:100%;
	width:100%;
	max-height:210px;
	max-width:210px;
	position:absolute;
	top:0;
	h3{
		display:table-cell;
		vertical-align:middle;
	}
}
.spacerRO{
	display:table;
	height:100%;
	width:100%;
}
//content: attr(data-title)
.moverDesc{
	display:none;
	padding:20px 0 0;
	position:absolute;
	top:auto;
	left:0;
	width:100%;
	&:hover{
		cursor:default;
	}
	a{
		color:#fff;
		display:inline-block;
		margin:0;
		text-decoration:underline;
		width:auto;
	}
}

@media only screen and (min-width: 735px) and (max-width: 987px) {
	.indivMover{
		width:32.5%;
	}
}
@media only screen and (min-width: 501px) and (max-width: 734px) {
	.indivMover{
		width:49.5%;
	}
}
@media only screen and (max-width: 500px) {
	.indivMover{
		float:none;
		width:100%;
	}
}