//_header.scss
//HEADER
.hdrMTW{
	height:55px;
	padding:10px 0 15px;
	background:#fff;
	position:fixed;
	top:0;
	z-index:5;
	&.unsticky{
		position:relative;
		margin-bottom:-80px;
	}
	nav{
		float:right;
	}
}

.logoMTW{
	@include bkgrdImg("logoMTW.jpg");
	@extend %floatLeft;
	margin-right:20px;
	&,
	img{
		width:140px;
		height:47px;
	}
}

//NAV
.mainNav{
	font-size:16px;
	line-height:18px;
	list-style:none;
	a{
		color:$darkGrey;
		text-decoration:none;
		&:hover{
			color:$lightBlue;
		}
	}
}
.navItem{
	display:inline-block;
	margin-left:55px;
	padding:20px 0;
	>a{
		text-transform:uppercase;
	}
	&:first-child{
		margin:0;
	}
}
.subNav{
	background:$medGrey;
	display:none;
	margin-top:20px;
	li{
		display:inline-block;
		padding:10px 20px;
		&.current_page_item{
			a{
				color:$blue;
			}
		}
	}
	a{
		@extend %displayBlock;
		color:#fff;
		width:100%;
		height:100%;
		&:hover{
			color:$blue;
		}
	}
}
@media only screen and (min-width: 820px){
	.navItem{
		&:hover{
			.subNav{
				display:block;
			}
		}
	}
	.subNav{
		box-sizing:border-box;
		text-align:center;
		padding:0 20px;
		position:absolute;
		left:0;
		width:100%;
	}
}

//MOBILE
.btnNav{
	color:$darkGrey;
	display:none;
	font-size:30px;
	line-height:30px;
}
@media only screen and (max-width: 819px){
	.logoMTW{
		position:relative;
		z-index:3;
	}
	.hdrMTW{
		nav{
			text-align:right;
		}
	}
	.btnNav{
		display:block;
	}
	.mainNav{
		background:#fff;
		display:none;
		padding:20px 20px 0;
		position:absolute;
		right:0;
		&.active{
			display:block;
		}
	}
	.navItem{
		display:block;
		margin:0;
		padding-top:0;
	}
	.subNav{
		display:block;
		li{
			display:block;
		}
	}
}