//_movers.scss
//GENERAL
.pageMovers{
	.pageTitle{
		text:{
			align:center;
			transform:uppercase;
		}
	}
	h3{
		color:$lightGreen;
		font-size:21px;
		line-height:23px;
		text-transform:uppercase;
		margin:0 0 30px;
		span{
			@extend %displayBlock;
			font-weight:400;
		}
	}
	.movers{
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		li{
			display:inline-block;
			vertical-align:top;
		}
	}
}

//TEAM
.indivMover{
	width:24.5%;
	a{
		@extend %displayBlock;
		text-align:center;
		width:100%;
		max-width:210px;
		margin:0 auto 20px;
		text-decoration:none;
		position:relative;
		h3{
			color:#fff;
			margin:70px 5px;
		}
	}
	img{
		@extend %displayBlock;
		@include border-radius(50%);
		overflow:hidden;
		width:100%;
		max-width:210px;
		max-height:210px;
	}
	.moverRO{
		@include border-radius(50%);
		background:$darkBlue;
		color:#fff;
		display:none;
		height:100%;
		width:100%;
		max-height:210px;
		max-width:210px;
		position:absolute;
		top:0;
	}
	&:hover{
		.moverRO{
			@extend %displayBlock;
		}
	}
	&.active{
		.moverRO{
			@extend %displayBlock;
			background:none;
			border-radius:0;
			height:auto;
			position:relative;
			h3{
				color:$lightGreen;
				margin:20px 5px 30px;
			}
		}
		.moverContent{
			@extend %displayBlock;
		}
	}
}
//content: attr(data-title)
.moverContent{
	display:none;
	&:hover{
		cursor:default;
	}
	&.moverDesc{
		position:absolute;
		top:auto;
		left:0;
	}
}

//BOARD & ADVISORY MEMBERS
.boardMember{
	margin-bottom:20px;
}
.imgBoard{
	@extend %floatLeft;
	box-sizing:border-box;
	padding-left:25px;
	width:24%;
	max-width:235px;
	img{
		@extend %displayBlock;
		@include border-radius(50%);
		width:100%;
		max-width:210px;
		min-width:100px;
		max-height:210px;
		overflow:hidden;
	}
}
.boardContent{
	@extend %floatLeft;
	box-sizing:border-box;
	padding:0 20px;
	width:76%;
	max-width:745px;
}
@media only screen and (min-width: 735px) and (max-width: 987px) {
	.indivMover{
		width:32.5%;
	}
}
@media only screen and (min-width: 501px) and (max-width: 734px) {
	.indivMover{
		width:49.5%;
	}
}
@media only screen and (max-width: 500px) {
	.imgBoard{
		float:none;
		width:100%;
		max-width:none;
		padding-right:25px;
		img{
			margin:0 auto 20px;
		}
	}
	.boardContent{
		float:none;
		width:100%;
		max-width:auto;
	}
	.indivMover{
		float:none;
		width:100%;
	}
}