//_program.scss
//INTRO SECTION
.mtwProgram{
	padding-top:80px;
	h3{
		font-size:30px;
		line-height:32px;
	}
	.pageContent{
		padding:0;
	}
}
.progIntro{
	background:$lightGrey;
	text-align:center;
	padding:20px 0 90px;
	h3{
		color:#fff;
	}
}
.progChoices{
	max-width:780px;
	margin:60px auto 0;
	a{
		@extend %displayBlock;
		@include border-radius(50%);
		background:rgb(0,0,0);
		background:rgba(0,0,0,.5);
		color:$lightGreen;
		font:{
			size:30px;
			weight:700;
		}
		line-height:32px;
		text-decoration:none;
		padding:135px 0;
		width:50%;
		max-width:300px;
		min-width:200px;
		&:hover{
			background:rgba(0,0,0,.75);
			color:$lightGreen;
		}
	}
}
.btnProgEducator{
	@extend %floatLeft;
	margin-right:20px;
}
.btnProgCompany{
	float:right;
}

//INDIVIDUAL PROGRAMS
.programContent{
	display:none;
	max-width:980px;
	margin:0 auto;
	&.active{
		@extend %displayBlock;
	}
}

//NAV
.programNav{
	@extend %floatLeft;
	text-align:center;
	width:25.5%;
	max-width:240px;
	min-height:200px;
}
.progNavContent{
	background:$lightBlue;
	bottom:0;
	max-width:240px;
	width:100%;
	&.fixed{
		position:fixed;
		top:80px;
	}
}
.progVal{
	display:table;
	height:25%;
	padding:0 20px;
	text-decoration:none;
	h3{
		color:#fff;
		display:table-cell;
		margin:0;
		vertical-align:middle;
		span{
			@extend %displayBlock;
			font:{
				size:18px;
				weight:400;
			}
			line-height:25px;
		}
	}
}
.progVal1{
	background:$lightGrey;
	color:$grey;
	h3{
		color:$grey;
	}
}
.progVal3{
	background:$darkGrey;
	color:$lightBlue;
	h3{
		color:$lightBlue;
	}
}


//CONTENT
.program{
	@extend %floatLeft;
	display:none;
	width:74.5%;
	max-width:730px;
	&.active{
		@extend %displayBlock;
	}
}
.programSection1{
	color:$lightBlue;
	h3{
		color:$lightBlue;
	}
}
.programSection2,
.programSection6{
	background:$darkGrey;
	color:#fff;
	h3{
		color:#fff;
	}
}
.programSection3,
.programSection5{
	color:$darkGrey;
	h3{
		color:$darkGrey;
	}
}
.programSection4{
	background:$lightGrey;
	color:$lightBlue;
	h3{
		color:$lightBlue;
	}
}


@media only screen and (max-width: 676px) {
	.progChoices{
		max-width:580px;
		a{
			font-size:24px;
			line-height:26px;
			padding:75px 0;
			max-width:200px;
		}
		.btnProgEducator{
			padding:87px 0;
		}
	}

	.programNav{
		a{
			width:35px;
			height:35px;
		}
	}
}
@media only screen and (max-width: 476px) {
	.progChoices{
		max-width:600px;
		a{
			float:none;
			margin:0 auto 20px;
		}
	}
}