//_program.scss
//INTRO SECTION
.mtwProgram{
	padding-top:80px;
	h3{
		font-size:30px;
		line-height:32px;
	}
	.pageContent{
		padding:0;
	}
}
.progIntro{
	background:$lightBlue;
	text-align:center;
	padding:20px 0 90px;
	h3{
		color:#fff;
	}
}
.progChoices{
	max-width:780px;
	margin:60px auto 0;
	a{
		@extend %displayBlock;
		@include border-radius(50%);
		box-sizing:border-box;
		background:rgb(0,0,0);
		background:rgba(0,0,0,.5);
		box-sizing:border-box;
		color:$lightGreen;
		font:{
			size:30px;
			weight:700;
		}
		line-height:32px;
		text-decoration:none;
		padding:118px 20px;
		width:50%;
		max-width:300px;
		min-width:200px;
		&:hover{
			background:rgba(0,0,0,.75);
			color:$lightGreen;
		}
	}
}

.btnProgEducator{
	@extend %floatLeft;
	margin-right:20px;
}
.btnProgCompany{
	float:right;
}

//INDIVIDUAL PROGRAMS
.programContent{
	display:none;
	margin:0 auto;
	&.active{
		@extend %displayBlock;
	}
}

//CONTENT
.programSection{
	padding-bottom:30px;
}

.educator,
.company{
	&.inactive{
		display:none;
	}
}

.progVal{
	padding-top:72px;
	position:relative;
	&.active{
		.hdrProgVal{
			position:fixed;
			top:80px;
		}
	}
	&.bottom{
		.hdrProgVal{
			top:auto;
			bottom:0;
		}
	}
}
.hdrProgVal{
	text-align:center;
	top:0;
	padding:20px 0;
	position:absolute;
	width:100%;
	min-width:320px;
	z-index:4;
	h3{
		margin:0;
	}
}

.val1{
	background:rgba($lightGrey,.4);
	.hdrProgVal{
		background:$lightGrey;
		color:$darkGrey;
	}
}

.val2{
	background:rgba($lightBlue,.4);
	.hdrProgVal{
		background:$lightBlue;
		color:#fff;
	}
}

.val3{
	background:rgba($darkGrey,.4);
	.hdrProgVal{
		background:$darkGrey;
		color:#fff;
	}
}

.val4{
	background:rgba($lightGreen,.4);
	.hdrProgVal{
		background:$lightGreen;
		color:$darkGrey;
	}
}

//QUESTIONS
.progQuestions{
	color:#fff;
	text-align:center;
	p{
		display:table-cell;
		vertical-align:middle;
	}
}
.question{
	@extend %displayBlock;
	@extend %floatLeft;
	width:33%;
	margin:20px auto 0;
}
.questionContent{
	@include border-radius(10px);
	background:$lightBlue;
	display:table;
	margin:0 auto;
	height:215px;
	width:215px;
	position:relative;
	&:hover{
		.questionRO{
			opacity:1;
		}
	}
}
.questionRO{
	@include border-radius(10px);
	@include single-transition(all, .3s, ease);
	@extend %displayBlock;
	background:$darkGrey;
	opacity:0;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
}

.innerRO{
	display:table;
	height:100%;
}

//IMAGES
.progImages{
	img{
		@extend %displayBlock;
		height:auto;
		width:100%;
	}
}
.progImgGrid{
	img{
		@extend %floatLeft;
		margin:{
			bottom:20px;
			right:2%;
		}
		width:49%;
		&:nth-child(2n){
			margin-right:0;
		}
	}
}

//EXAMPLE EXPANDERS
.example{
	@extend %displayBlock;
	background:$darkGrey;
	color:#fff;
	margin-bottom:20px;
	text-decoration:none;
	width:100%;
	>p{
		padding:20px 0;
		text-align:center;
	}
	p{
		margin:0;
	}
	&:hover{
		color:#fff;
		.exampleContent{
			height:auto;
			padding-bottom:20px;
			p{
				opacity:1;
			}
		}
	}
}
.exampleContent{
	@include single-transition(all, .3s, ease);
	@extend %displayBlock;
	height:0;
	p{
		opacity:0;
	}
}

//VIDEO TYPE
.vidBox{
	margin:0 auto;
	position:relative;
	width:100%;
	height:100%;
	img{
		@extend %displayBlock;
		width:100%;
		height:auto;
	}
	iframe{
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}
}

//SIGN UP
.progSignUp{
	font-size:16px;
	line-height:26px;
	text-align:center;
	padding:40px 0;
	h3{
		color:$lightBlue;
		font-size:40px;
		line-height:42px;
		margin-top:0;
	}
}
.btnProgSignUp{
	@extend %btnMTW;
	@extend %btnBlock;
	background:$lightBlue;
	color:#fff;
	margin:40px auto 0;
	max-width:300px;
	&:hover{
		background:$lightGrey;
		color:$lightBlue;
	}
}

@media only screen and (max-width: 749px) {
	.questionContent{
		height:160px;
		width:160px;
	}
}
@media only screen and (max-width: 676px) {
	.progChoices{
		max-width:580px;
		a{
			font-size:24px;
			line-height:26px;
			padding:75px 0;
			max-width:200px;
		}
	}
}
@media only screen and (max-width: 569px) {
	.mtwProgram{
		h3{
			font-size:24px;
			line-height:26px;
		}
	}

	.progVal{
		padding-top:56px;
	}
	.hdrProgVal{
		padding:15px 0;
	}

	.question{
		float:none;
		width:100%;
	}

	.progSignUp{
		padding:20px 0;
		h3{
			font-size:30px;
			line-height:32px;
		}
	}
	.btnProgSignUp{
		margin-top:20px;
	}
}
@media only screen and (max-width: 476px) {
	.progChoices{
		max-width:600px;
		a{
			float:none;
			margin:0 auto 20px;
		}
	}
}