.signupContent {
	h3{
		font-size:30px;
		line-height:32px;
	}
	.pageContent{
		padding:0;
	}
}

//HOW IT WORKS
.howWorks{
	margin:60px auto;
	text-align:center;
}
.hdrWorks{
	color:$blue;
	text-transform:uppercase;
	margin:0 0 40px;
}
.workEx{
	@extend %floatLeft;
	color:$grey;
	width:25%;
	.imgWorks{
		background:$grey;
		width:100%;
		height:140px;
		max-width:140px;
		max-height:140px;
		margin:0 auto 15px;
	}
	p{
		padding:0 15px;
	}
}

//TOP SECTION
.signupHero{
	background:$grey;
	height:480px;
	max-height:480px;
}
#signup{
	padding-top: 18px;
}
.signupBox{
	height: 445px;
	background: #fff;
}
.signupBox, .signupHeader {
	@extend %floatLeft;
	box-sizing: border-box;
	width: 50%;
	max-width:550px;
}

.signupHeader{
	color:#fff;
	font-size:21px;
	line-height:25px;
	padding-left: 30px;
	h3 {
		margin-bottom: 40px;
	}
}

//FORM STUFF
.blueSignupBtn, .pushbutton-wide, .w2linput.submit {
	@extend %btnMTW;
	@extend %btnBlock;
	background:$lightBlue;
	border: none;
	color:#fff;
	font-size: 21px;
	height: 50px;
	line-height: 25px;
	margin: 20px auto;
	outline: none;
	text-align: center;
	max-width: 300px;

	&:hover {
		color:$lightBlue;
		background:$lightGrey;
	}
}
.signupForm {
	padding: 24px 30px 0 30px;
}

.pushbutton-wide {
	line-height: 0;
	padding: 25px 0;
}

//Specific styles for the Salesforce form
.salesforce_w2l_lead {
	font-size: 16px;

	label{
		color:$darkBlue;
		margin-bottom: 8px!important;

		span{
			display: none;
		}
	}

	input[type=email], input[type=text]{
		-webkit-appearance: none;
		border: 1px solid #cfcfcf;
		border-radius: 0;
		box-sizing: border-box;
		height: 30px;
		outline: 0;
		width: 100%!important;
		max-width: 100%!important;
	}

	.sf_field {
		margin-bottom: 13px;
	}
}

//Displays on successful form submission
.success_message {
	color:$darkBlue;
	display: block;
	font-size: 20px;
	line-height: 28px;
	text-align: center!important;
}

.w2llabel {
	display: block;
}

//Styling drown down input and adding custom arrow
.w2linput.select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #fff;
	background: url('../../../images/dropdown_select.jpg') no-repeat;          /*Adds background-image*/
    background-position: 188px 0; 
	border: #CFCFCF 1px solid;
	border-radius: 0;
	height: 30px;
	padding: 5px 0 0 7px;
	text-indent: 0.01px;
 	text-overflow: "";
 	width: 220px;
}

//Remove default drop down arrow on IE
select::-ms-expand {
	display: none;
}

//Remove default drop down arrow on FF
@-moz-document url-prefix(){
	.sf_type_select{
	  overflow: hidden;
	  width: 220px;
	}
	.sf_type_select select{
	  width: 110% !important;
	}
}

//Removing dotted outline in FF on select field
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

input::-moz-focus-inner { 
	border: 0; 
}

//Social Section
.socialSection{
	background:$blue;
	color: #fff;
	font-size:21px;
	line-height:23px;
	text-align:center;
	padding:25px 0;

	h3{
		margin:40px 0;
	}

	a{
		@extend %btnMTW;
		@extend %btnBlock;
		margin:40px auto;
		max-width:300px;
	}
}

@media only screen and (max-width: 700px) {
	.signupHero{
		height:800px;
		max-height: 800px;
	}
	.signupBox, .signupHeader {
		box-sizing: border-box;
		float: none;
		margin: 0 auto;
	}
	.signupBox{
		margin-top: 40px;
		width: 100%;
	}
	.signupHeader {
		padding-left: 0;
		width: 95%;
		max-width: 95%;
	}

	.signupForm {
		padding: 24px 15px 0 15px;
	}

	.workEx{
		margin:0 auto 20px;
		width:50%;
	}
}
@media only screen and (max-width: 482px) {
	.workEx{
		float:none;
		width:85%;
	}
}