.signupContent {
	h3{
		font-size:30px;
		line-height:32px;
	}
	.pageContent{
		padding:0;
	}
}

//HOW IT WORKS
.howWorks{
	margin:60px auto;
	text-align:center;
}
.hdrWorks{
	color:$blue;
	text-transform:uppercase;
	margin:0 0 40px;
}
.workEx{
	@extend %floatLeft;
	color:$grey;
	width:25%;
	.imgWorks{
		background:$grey;
		width:100%;
		height:140px;
		max-width:140px;
		max-height:140px;
		margin:0 auto 15px;
	}
	p{
		padding:0 15px;
	}
}

//TOP SECTION
.signupHero{
	background:$grey;
	height:480px;
	max-height:480px;
}
#signup{
	padding-top: 18px;
}
.signupBox{
	height: 445px;
	background: #fff;
}
.signupBox, .signupHeader {
	@extend %floatLeft;
	box-sizing: border-box;
	width: 50%;
	max-width:550px;
}

.signupHeader{
	color:#fff;
	font-size:21px;
	line-height:25px;
	padding-left: 30px;
	h3 {
		margin-bottom: 40px;
	}
}

//FORM STUFF
.blueSignupBtn, .pushbutton-wide {
	@extend %btnMTW;
	@extend %btnBlock;
	background:$lightBlue;
	border: none;
	color:#fff;
	font-size: 21px;
	margin: 20px auto;
	outline: none;
	text-align: center;
	max-width: 300px;

	&:hover {
		color:$lightBlue;
		background:$lightGrey;
	}
}
.signupForm {
	padding: 24px 30px 0 30px;
}

.pushbutton-wide {
	line-height: 0;
	padding: 25px 0;
}

.contact-form{
	font-size: 16px;

	label{
		color:$darkBlue;
		margin-bottom: 8px!important;

		span{
			display: none;
		}
	}

	input[type=email], input[type=text]{
		box-sizing: border-box;
		height: 33px;
		width: 100%!important;
		max-width: 100%!important;
	}
}

//Social Section
.socialSection{
	background:$blue;
	color: #fff;
	font-size:21px;
	line-height:23px;
	text-align:center;
	padding:25px 0;

	h3{
		margin:40px 0;
	}

	a{
		@extend %btnMTW;
		@extend %btnBlock;
		margin:40px auto;
		max-width: 300px;
	}
}

@media only screen and (max-width: 700px) {
	.signupHero{
		height:800px;
		max-height: 800px;
	}
	.signupBox, .signupHeader {
		box-sizing: border-box;
		float: none;
		margin: 0 auto;
	}
	.signupBox{
		margin-top: 40px;
		width: 100%;
	}
	.signupHeader {
		padding-left: 0;
		width: 95%;
		max-width: 95%;
	}

	.signupForm {
		padding: 24px 15px 0 15px;
	}

	.workEx{
		margin:0 auto 20px;
		width:50%;
	}
}
@media only screen and (max-width: 482px) {
	.workEx{
		float:none;
		width:85%;
	}
}