//_subpage.scss
//SUBPAGES
.mtwPage{
	max-width:980px;
	margin:0 auto;
}

.pageContent{
	padding:0 0 40px;
	h1{
		color:$lightBlue;
		font:{
			size:50px;
			weight:700;
		}
		line-height:54px;
		margin:0 0 25px;
	}
	p,
	ol,
	ul{
		margin:0 0 15px;
	}
	ol,
	ul{
		padding:0 0 0 20px;
	}
	&.withSidebar{
		@extend %floatLeft;
		max-width:735px;
		width:73%;
	}
}

.title{
	color:$blue;
	font-size:30px;
	line-height:32px;
}

.subtitle {
	color:$blue;
	font-size:21px;
	line-height:25px;
}

.bodyImage{
	margin-bottom:15px;
	p{
		display:inline-block;
		max-width:74%;
	}
	.imgBox{
		display:inline-block;
		vertical-align:middle;
		margin-right:22px;
	}
}
.leftSide {
	@extend %floatLeft;
	margin-right: 22px;
}
.rightSide {
	float: right;
	margin-left: 22px;
}
.imgPageContent{
	width:100%;
}

//DONATE
.btnDonateLrg{
	@extend %btnMTW;
	@extend %btnBlock;
	background:$lightBlue;
	border:0 none;
	text-align:center;
}