//_subpage.scss
//SUBPAGES
.mtwPage{
	max-width:980px;
	img{
		@extend %displayBlock;
	}
}

.pageContent{
	padding:0 0 40px;
	h1{
		color:$lightBlue;
		font:{
			size:50px;
			weight:700;
		}
		line-height:54px;
		margin:0 0 25px;
	}
	p,
	ol,
	ul{
		margin:0 0 15px;
	}
	ol,
	ul{
		padding:0 0 0 20px;
	}
	&.withSidebar{
		@extend %floatLeft;
		max-width:735px;
		width:73%;
	}
}

.title{
	color:$lightGrey;
	font-size:30px;
	line-height:36px;
	padding:10px 0 15px;
}

.subtitle {
	color:$blue;
	font-size:21px;
	line-height:25px;
}

//IMAGES
.fullWidth{
	width:100%;
}
.leftSide {
	@extend %floatLeft;
	margin-right:20px;
}
.rightSide {
	float:right;
	margin-left:20px;
}
.bodyImage{
	margin-bottom:25px;
	a{
		@extend %displayBlock;
		font:{
			style:italic;
			weight:700;
		}
	}
}
.imgBox{
	display:table;
	.leftSide,
	.rightSide{
		float:none;
	}
	p{
		display:table-cell;
		margin-bottom:0;
		vertical-align:middle;
	}
}

.imgRow{
	@extend .coreValues;
}
.hdrRow{
	@extend .hdrValues;
}


//DONATE
.btnDonateLrg{
	@extend %btnMTW;
	@extend %btnBlock;
	background:$lightBlue;
	border:0 none;
	text-align:center;
}