//_subpage.scss
//SUBPAGES
.mtwPage{
	max-width:980px;
	margin:0 auto;
}
.pageContent{
	padding:0 0 15px;
	p,
	ol,
	ul,
	.supportBox{
		margin:0 0 15px;
	}
	ol,
	ul{
		padding:0 0 0 20px;
	}
	a{
		color:$lightBlue;
		&:hover{
			color:$blue;
		}
	}
	&.pageMovers{
		padding:0 20px;
	}
	&.withSidebar{
		@extend %floatLeft;
		max-width:735px;
		width:73%;
	}

	.jobTitle{
		margin-top:35px;
	}

	.pageTitle{
		color:$lightBlue;
		font:{
			size:50px;
			weight:700;
		}
		line-height:54px;
		margin:0 0 25px;
	}
	.supportBox a{
		margin-right:20px;
	}
}

.pageSubtitle {
	color: #00506e;
	font-size: 21px;
	line-height: 26px;
	&.jobTitle{
		color:#2aa0d6;
	}
}

.bodyImage {
	height: 288px;
	width: 460px;
	&.leftSide {
		@extend %floatLeft;
		margin-right: 22px;
	}
	&.rightSide {
		float: right;
		margin-left: 22px;
	}
}
	

//SIDEBAR
.mtwSidebar {
	@extend %floatLeft;
	background:$darkBlue;
	color:#fff;
	width:27%;
	max-width:260px;
	//position:fixed;
	p{
		margin:0 0 15px;
	}
	ul{
		margin:0 0 15px 20px;
	}
	hr{
		border-top:1px solid #fff;
		margin:25px 0;
	}
	a:hover{
		color:#4c4c4e;
		text-decoration:underline;
	}
}
.sidebarContent{
	padding:20px;
}
.sidebarTitle{
	color: $lightGreen;
	font:{
		size:30px;
		weight:700;
	}
	line-height:32px;
	margin:15px 0;
}