@import "partials/base";

//OLD 
.spriteLink{
	background-position:top left;
	display:block;
}
.spriteLink:hover{
	background-position:bottom left;
}
.clear {
    clear: both;
}
.floatLeft{
	@extend %floatLeft;
}
.floatRight{
	float:right;
}

//GENERAL
body {
	background:#fff;
	margin:0 auto;
	font:400 14px/16px 'Open Sans', Arial, Helvetica, sans-serif;
	color:#808285;
}
.clearfix:after {
	@extend %displayBlock;
    content: "";
    height: 0;
    clear: both;
    visibility: hidden;
 	overflow: hidden;
}

.container{
	width:100%;
	margin:0 auto;
}
.box{
	margin:0 auto;
	padding:0 20px;
	min-width:320px;
	max-width:980px;
}
// Tablet (Portrait):  Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
    	width: 100%;
    }
}
// Mobile (Portrait): Design for a width of 320px */
@media only screen and (max-width: 767px) {
    .container {
    	width: 92%;
    }
}
// Mobile (Landscape): Design for a width of 480px
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
    	width: 92%;
    }
}

a{
	color:#fff;
	outline:none;
	&:hover{
		color:#2aa0d6;
	}
}
img{
	border:0 none;
}
p,
ul,
ol{
	margin:0;
	padding:0;
}

header,
footer{
	width:100%;
}


/*HEADER*/
.hdrMTW{
	height:55px;
	padding:10px 0 15px;
	background:#fff;
	position:relative;
	z-index:5;
	nav{
		float:right;
	}
	&.sticky{
		position:fixed;
		top:0;
	}
}

.logoMTW{
	@include bkgrdImg("logoMTW.png");
	@extend %floatLeft;
	&,
	img{
		width:140px;
		height:47px;
	}
}

//NAV
.mainNav{
	font-size:16px;
	line-height:18px;
	list-style:none;
	li{
		@extend %displayBlock;
	}
	a{
		color:#808285;
		text-decoration:none;
		&:hover{
			color:$blue;
		}
	}
}
.navItem{
	@extend %floatLeft;
	margin-left:55px;
	padding:20px 0;
	>a{
		text-transform:uppercase;
	}
	&:hover{
		.subNav{
			@extend %displayBlock;
		}
	}
}
.subNav{
	background:#fff;
	display:none;
	margin-left:-20px;
	padding-top:31px;
	position:absolute;
	li{
		padding:10px 20px;
	}
	a{
		@extend %displayBlock;
		color:#808285;
		width:100%;
		height:100%;
	}
}


//CONTENT
.mtwWrapper{
	position:relative;
	width:100%;
	padding-top:80px;
}


//HOMEPAGE
.homeContent{
	color:#fff;
}

//MISSION STATEMENT
.mtwMission{
	background:$blue;
	font-size:21px;
	line-height:23px;
	text-align:center;
	padding:25px 125px;
}

//CORE VALUES
.coreValues{
	margin:60px auto;
	>p{
		color:#76a6d8;
		font:{
			size:30px;
			weight:700;
		}
		line-height:32px;
		text:{
			align:center;
			transform:uppercase;
		}
		padding-bottom:65px;
	}
}
.value{
	@extend %floatLeft;
	color:#808285;
	width:25%;
	.imgValue{
		background:#808285;
		width:100%;
		height:220px;
		max-width:220px;
		max-height:220px;
		margin:0 auto 15px;
	}
	p{
		padding:0 15px;
	}
}

//CALLOUTS
.callOuts{
	background:#e6e7e8;
	padding:60px 0 70px;
}
.callOutBox{
	@extend %floatLeft;
	width:50%;
	height:280px;
	max-width:460px;
	max-height:280px;
}
//SIGN UP CALLOUT
.coSignUp{
	background:$blue;
	margin-right:20px;
}
//TIPS
.coTips{
	background:$blue;
}


//SUBPAGES
.mtwPage{
	text-transform:none;
	font-weight:400;
	line-height:20px;
}
.pageContent{
	width:645px;
	padding:15px 0;
	p,
	ol,
	ul,
	.supportBox{
		margin:0 0 15px;
	}
	ol,
	ul{
		padding:0 0 0 20px;
	}
	a{
		color:#2aa0d6;
	}
	&.noSidebar,
	&.pageMovers{
		width:930px;
		padding:15px;
	}
}
.pageSubtitle.jobTitle{
	color:#2aa0d6;
}
.pageContent .jobTitle{
	margin-top:35px;
}
.pageTitle,
.pageSubtitle,
.indivMover span,
.popupPerson .moverName{
	color:#b1332e;
	font-weight:600;
}
.pageContent .pageTitle{
	font-size:18px;
	line-height:24px;
	margin:0 0 25px;
}
.pageSubtitle,
.sidebarTitle{
	font-size:16px;
	line-height:22px;
}
.pageTitle,
.pageSubtitle,
.sidebarTitle,
.pageMovers{
	text-transform:uppercase;
}
.mtwSidebar p{
	margin:0 0 15px;
}

//SUPPORT SPECIFIC
.pageContent .supportBox a{
	margin-right:20px;
}

//SIDEBAR
.mtwSidebar {
	width:250px;
	padding:25px;
	/*border:15px solid #fff;*/
	margin:15px 15px 15px 0;
	position:relative;
	z-index:3;
	background:#2aa0d6;
	color:#fff;
}
.imgSidebar img{
	margin:-140px auto 15px;
	display:block;
	width:243px;
	height:244px;
}
.sidebarTitle{
	margin:15px 0;
	font-weight:600;
}
.mtwSidebar ul{
	margin:0 0 15px 20px;
}
.mtwSidebar hr{
	border-top:1px solid #fff;
	margin:25px 0;
}
.container .mtwSidebar a:hover{
	color:#4c4c4e;
	text-decoration:underline;
}


//MOVERS & SHAKERS
.moversShakers,
.boardMembers{
	margin-bottom:30px;
}
.indivMover{
	text-align:center;
	margin-right:30px;
}
.indivMover.lastColumn{
	margin-right:0;
}
.moverLink{
	margin-bottom:10px;
}
.moverLink,
.indivMover img{
	height:208px;
}
.indivMover,
.indivMover img{
	width:210px;
}
.indivMover span,
.popupPerson .moverName{
	display:block;
}
.moverLink:hover .imgMover,
.imgMoverRO{
	display:none;
}
.moverLink:hover .imgMoverRO{
	display:block;
}
.pageTitle.supportTitle,
.boardMembers .indivMover span,
.popupPerson.supportPerson .moverName{
	color:#2aa0d6;
}


//MOVER POPUPS
.moverPopups{
	display:none;
	width:670px;
	padding:30px 55px;
	text-transform:none;
	font-weight:400;
	background:url(../../../images/bkgrdMTWCarouselDesc.png) repeat;
	background:rgba(202,219,35,0.85);
	color:#404041
}
.popupPerson{
	display:none;
}
.popupPerson.active{
	display:block;
}
.btnClosePopup{
	background:url(../../../images/movers/btnClosePopup.png) no-repeat;
	position:absolute;
	top:22px;
	right:22px;
}
.btnClosePopup,
.btnClosePopup img{
	width:32px;
	height:32px;
}
.popupPerson .imgMoverPopup{
	margin:0 15px 15px 0;
	width:210px;
	height:210px;
}
.popupPerson .personTitle{
	text-transform:uppercase;
	font-size:18px;
	line-height:24px;
	padding-top:150px;
}
.popupPerson p{
	margin:10px 0;
}



//FOOTER
footer {
	background:#808285;
	color:#fff;
	padding:20px 0;
	width:100%;
	ul{
		list-style: none;
	}
	a{
		text-decoration:none;
	}
}
.col {
	@extend %floatLeft;
	width:20%;
}

.btnFB{
	@include bkgrdImg("btnSocialFB.png");
}
.btnTW{
	@include bkgrdImg("btnSocialTW.png");
}
.btnIn{
	@include bkgrdImg("btnSocialIn.png");
}
.btnIG{
	@include bkgrdImg("btnSocialIG.png");
}
.btnYT{
	@include bkgrdImg("btnSocialYT.png");
}
.btnPin{
	@include bkgrdImg("btnSocialPin.png");
}
.socialMedia{
	a{
		@extend %floatLeft;
		@extend %displayBlock;
		margin:0 15px 15px 0;
		&,
		img{
			width:25px;
			height:25px;
		}
		&:hover{
			background-position:left bottom;
		}
	}
}