@import "partials/base";

//OLD 
.spriteLink{
	background-position:top left;
	display:block;
}
.spriteLink:hover{
	background-position:bottom left;
}
.clear {
    clear: both;
}
.floatLeft{
	@extend %floatLeft;
}
.floatRight{
	float:right;
}

//GENERAL
body {
	background:#fff;
	margin:0 auto;
	font:400 14px/16px 'Open Sans', Arial, Helvetica, sans-serif;
	color:#fff;
}
.clearfix:after {
	@extend %displayBlock;
    content: "";
    height: 0;
    clear: both;
    visibility: hidden;
 	overflow: hidden;
}

.container{
	max-width:980px;
	min-width:320px;
	width:100%;
	margin:0 auto;
}
.box{
	padding:0 20px;
}
// Tablet (Portrait):  Design for a width of 768px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .container {
    	width: 100%;
    }
}
// Mobile (Portrait): Design for a width of 320px */
@media only screen and (max-width: 767px) {
    .container {
    	width: 92%;
    }
}
// Mobile (Landscape): Design for a width of 480px
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container {
    	width: 92%;
    }
}

a{
	color:#fff;
	outline:none;
	&:hover{
		color:#2aa0d6;
	}
}
img{
	border:0 none;
}
p,
ul,
ol{
	margin:0;
	padding:0;
}

header,
footer{
	margin:0 auto;
	width:100%;
	max-width:980px;
	min-width:320px;
}


/*HEADER*/
.hdrMTW{
	height:55px;
	padding:10px 0 15px;
	background:#fff;
	position:relative;
	z-index:5;
	nav{
		float:right;
	}
	&.sticky{
		position:fixed;
		top:0;
	}
}

.logoMTW{
	@include bkgrdImg("logoMTW.png");
	@extend %floatLeft;
	&,
	img{
		width:140px;
		height:47px;
	}
}

//NAV
.mainNav{
	font-size:16px;
	line-height:18px;
	list-style:none;
	li{
		@extend %displayBlock;
	}
	a{
		color:#808285;
		text-decoration:none;
		&:hover{
			color:#23ade4;
		}
	}
}
.navItem{
	@extend %floatLeft;
	margin-left:55px;
	padding:20px 0;
	>a{
		text-transform:uppercase;
	}
	&:hover{
		.subNav{
			@extend %displayBlock;
		}
	}
}
.subNav{
	background:#fff;
	display:none;
	margin-left:-20px;
	padding-top:31px;
	position:absolute;
	li{
		padding:10px 20px;
	}
	a{
		@extend %displayBlock;
		color:#808285;
		width:100%;
		height:100%;
	}
}


//CONTENT
.mtwWrapper{
	position:relative;
	width:100%;
	padding-top:80px;
}


//MISSION STATEMENT
.mtwMission{
	background:#24ace3;
	font-size:21px;
	line-height:23px;
	text-align:center;
	padding:25px 125px;
}

//CORE VALUES
.coreValues{
	>p{
		color:#76a6d8;
		font:{
			size:30px;
			weight:700;
		}
		line-height:32px;
		text:{
			align:center;
			transform:uppercase;
		}
		margin:60px auto;
	}
}


//LEARN MORE
.mtwLearnMore{
	margin:0 50px 0 50px;
}
.btnLearnMore{
	width:180px;
	height:81px;
	padding:100px 0 0;
	text-align:center;
	margin-right:45px;
	position:relative;
}
.btnLearnMore .learnMoreTxt,
.btnLearnMore .learnROTxt{
	font-size:10px;
	font-weight:400;
	margin:0 auto;
	display:block;
}
.btnLearnMore .learnMoreTxt{
	color:#a6a6a6;
	background:url(../../../images/btnLearnArrow.png) 70px 5px no-repeat;
	width:76px;
	text-align:left;
}
.btnLearnMore:hover .learnTxt,
.btnLearnMore .learnRO{
	display:none;
}
.btnLearnMore .learnRO{
	position:absolute;
	top:0;
	z-index:2;
	padding:43px 15px 0;
	color:#fff;
}
.btnLearnMore:hover .learnRO{
	display:block;
}
.btnLearnMore .learnROTxt{
	margin-top:5px;
}
.btnLMTeachers{
	background-image:url(../../../images/btnLearnTeachers.png);
}
.container a.btnLMTeachers{
	color:#4c4c4e;
}
.btnLMSchools{
	background-image:url(../../../images/btnLearnSchools.png);
}
.container a.btnLMSchools{
	color:#2aa0d6;
}
.btnLMCompanies{
	background-image:url(../../../images/btnLearnCompanies.png);
}
.container a.btnLMCompanies{
	color:#e3492e;
}
.btnLMFamilies{
	background-image:url(../../../images/btnLearnFamilies.png);
}
.container a.btnLMFamilies{
	color:#b1332e;
	margin:0;
}


//SUBPAGES*/
.mtwPage{
	text-transform:none;
	font-weight:400;
}
.subTitleBar{
	/*position:fixed;
	top:181px;*/
	position:relative;
	top:13px;
	z-index:4;
	width:100%;
	max-width:940px;
	height:20px;
	padding:10px;
	font-weight:600;
	font-size:15px;
}
.subTitleBar,
.container .subTitleBar a{
	color:#fff;
}
.container .mtwPage a:hover{
	text-decoration:underline;
}
.subTitleBar a:first-child{
	margin-left:-640px;
}
.hdrPageImg{
	/*margin-top:194px;*/
	position:relative;
	top:-27px;
	margin-bottom:-27px;
}
.hdrPageImg,
.hdrPageImg img{
	width:960px;
	height:250px;
}
.pageContent{
	width:645px;
	padding:15px 0;
}
.pageContent,
.mtwSidebar{
	line-height:20px;
}
.pageContent.noSidebar,
.pageContent.pageMovers{
	width:930px;
	padding:15px;
}
.container .pageContent a,
.pageSubtitle.jobTitle{
	color:#2aa0d6;
}
.pageContent .jobTitle{
	margin-top:35px;
}
.pageTitle,
.pageSubtitle,
.indivMover span,
.popupPerson .moverName{
	color:#b1332e;
	font-weight:600;
}
.pageContent .pageTitle{
	font-size:18px;
	line-height:24px;
	margin:0 0 25px;
}
.pageSubtitle,
.sidebarTitle{
	font-size:16px;
	line-height:22px;
}
.pageTitle,
.pageSubtitle,
.sidebarTitle,
.pageMovers{
	text-transform:uppercase;
}
.pageContent p,
.pageContent ol,
.pageContent ul,
.pageContent .supportBox,
.mtwSidebar p{
	margin:0 0 15px;
}
.pageContent ol,
.pageContent ul{
	padding:0 0 0 20px;
}

//SUPPORT SPECIFIC
.pageContent .supportBox a{
	margin-right:20px;
}

//SIDEBAR
.mtwSidebar {
	width:250px;
	padding:25px;
	/*border:15px solid #fff;*/
	margin:15px 15px 15px 0;
	position:relative;
	z-index:3;
	background:#2aa0d6;
	color:#fff;
}
.imgSidebar img{
	margin:-140px auto 15px;
	display:block;
	width:243px;
	height:244px;
}
.sidebarTitle{
	margin:15px 0;
	font-weight:600;
}
.mtwSidebar ul{
	margin:0 0 15px 20px;
}
.mtwSidebar hr{
	border-top:1px solid #fff;
	margin:25px 0;
}
.container .mtwSidebar a:hover{
	color:#4c4c4e;
	text-decoration:underline;
}


//MOVERS & SHAKERS
.moversShakers,
.boardMembers{
	margin-bottom:30px;
}
.indivMover{
	text-align:center;
	margin-right:30px;
}
.indivMover.lastColumn{
	margin-right:0;
}
.moverLink{
	margin-bottom:10px;
}
.moverLink,
.indivMover img{
	height:208px;
}
.indivMover,
.indivMover img{
	width:210px;
}
.indivMover span,
.popupPerson .moverName{
	display:block;
}
.moverLink:hover .imgMover,
.imgMoverRO{
	display:none;
}
.moverLink:hover .imgMoverRO{
	display:block;
}
.pageTitle.supportTitle,
.boardMembers .indivMover span,
.popupPerson.supportPerson .moverName{
	color:#2aa0d6;
}


//MOVER POPUPS
.moverPopups{
	display:none;
	width:670px;
	padding:30px 55px;
	text-transform:none;
	font-weight:400;
	background:url(../../../images/bkgrdMTWCarouselDesc.png) repeat;
	background:rgba(202,219,35,0.85);
	color:#404041
}
.popupPerson{
	display:none;
}
.popupPerson.active{
	display:block;
}
.btnClosePopup{
	background:url(../../../images/movers/btnClosePopup.png) no-repeat;
	position:absolute;
	top:22px;
	right:22px;
}
.btnClosePopup,
.btnClosePopup img{
	width:32px;
	height:32px;
}
.popupPerson .imgMoverPopup{
	margin:0 15px 15px 0;
	width:210px;
	height:210px;
}
.popupPerson .personTitle{
	text-transform:uppercase;
	font-size:18px;
	line-height:24px;
	padding-top:150px;
}
.popupPerson p{
	margin:10px 0;
}



//FOOTER
footer {
	background:#808285;
	padding:20px 0;
	width:100%;
	ul{
		list-style: none;
	}
	a{
		text-decoration:none;
	}
}
.col {
	@extend %floatLeft;
	width:20%;
}

.btnSocial{
	margin:0 15px 15px 0;
	&,
	img{
		width:25px;
		height:25px;
	}
}
.btnFB{
	background-image:url(../../../images/btnSocialFB.png);
}
.btnTW{
	background-image:url(../../../images/btnSocialTW.png);
}
.btnIn{
	background-image:url(../../../images/btnSocialIn.png);
}
.btnIG{
	background-image:url(../../../images/btnSocialIG.png);
}
.btnYT{
	background-image:url(../../../images/btnSocialYT.png);
}
.btnPin{
	background-image:url(../../../images/btnSocialPin.png);
}