/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
/* line 7, ../sass/ie.scss */
.container {
  min-width: 820px;
}

/* line 11, ../sass/ie.scss */
.hdrMTW {
  min-width: 820px;
  position: relative;
}

/* line 16, ../sass/ie.scss */
.homeContent {
  padding-top: 0;
}

/* line 22, ../sass/ie.scss */
.navItem:hover .subNav {
  display: block;
}

/* line 27, ../sass/ie.scss */
.subNav {
  box-sizing: border-box;
  text-align: center;
  padding: 0 20px;
  position: absolute;
  left: 0;
  width: 100%;
}

/* line 38, ../sass/ie.scss */
.coTips .hasImg h3 {
  font-size: 26px;
  line-height: 28px;
  margin: .65em 0;
}

/* line 47, ../sass/ie.scss */
.val1 {
  background: #97b4c3;
}

/* line 51, ../sass/ie.scss */
.val2 {
  background: #5cbee2;
}

/* line 55, ../sass/ie.scss */
.val3 {
  background: #738e9e;
}

/* line 59, ../sass/ie.scss */
.val4 {
  background: #b2d196;
}

/* line 65, ../sass/ie.scss */
.example:hover .exampleContent p {
  display: block;
}

/* line 72, ../sass/ie.scss */
.exampleContent p {
  display: none;
}
