/* line 15, ../sass/partials/_base.scss */
.clearfix:after, .socialMedia a, .navItem:hover .subNav, .subNav a, .heroButtons a, .btnMTW, .coContent .btnCO, .greenSignupBtn a, .bigBtn, .imgCOTip {
  display: block;
}

/* line 18, ../sass/partials/_base.scss */
.floatLeft, .col, .socialMedia a, .logoMTW, .heroButtons a, .value, .callOutBox, .coTips .hasImg, .imgCOTip, .pageContent.withSidebar, .bodyImage.leftSide, .mtwSidebar, .workEx {
  float: left;
}

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/fontawesome-webfont.eot?1416246136');
  src: url('../fonts/fontawesome-webfont.eot?&1416246136#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?1416246136') format('woff'), url('../fonts/fontawesome-webfont.ttf?1416246136') format('truetype'), url('../fonts/fontawesome-webfont.svg?1416246136') format('svg');
}
/* line 10, ../sass/partials/_fonts.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome, cursive;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 3, ../sass/partials/_general.scss */
.spriteLink {
  background-position: top left;
  display: block;
}

/* line 7, ../sass/partials/_general.scss */
.spriteLink:hover {
  background-position: bottom left;
}

/* line 10, ../sass/partials/_general.scss */
.clear {
  clear: both;
}

/* line 16, ../sass/partials/_general.scss */
.floatRight {
  float: right;
}

/* line 21, ../sass/partials/_general.scss */
body {
  background: #fff;
  margin: 0 auto;
  font: 400 14px/16px 'Open Sans', Arial, Helvetica, sans-serif;
  color: #39383b;
}

/* line 27, ../sass/partials/_general.scss */
.clearfix:after {
  content: "";
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

/* line 36, ../sass/partials/_general.scss */
.container {
  width: 100%;
  margin: 0 auto;
}

/* line 40, ../sass/partials/_general.scss */
.box {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  max-width: 980px;
}

/* line 47, ../sass/partials/_general.scss */
a {
  color: #fff;
  outline: none;
}
/* line 50, ../sass/partials/_general.scss */
a:hover {
  color: #00aee6;
}

/* line 54, ../sass/partials/_general.scss */
img {
  border: 0 none;
}

/* line 57, ../sass/partials/_general.scss */
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* line 64, ../sass/partials/_general.scss */
header,
footer {
  width: 100%;
}

/* line 70, ../sass/partials/_general.scss */
.mtwWrapper {
  margin: 0 auto;
  padding-top: 40px;
  width: 100%;
}

/* line 77, ../sass/partials/_general.scss */
footer {
  background: #39383b;
  color: #fff;
  padding: 20px 0;
  width: 100%;
}
/* line 83, ../sass/partials/_general.scss */
footer .colHead {
  border-bottom: 1px dotted;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 12px;
  padding-bottom: 5px;
  max-width: 85%;
}
/* line 92, ../sass/partials/_general.scss */
footer ul {
  list-style: none;
}
/* line 95, ../sass/partials/_general.scss */
footer ul li {
  font-size: 13px;
  line-height: 16px;
}
/* line 100, ../sass/partials/_general.scss */
footer a {
  text-decoration: none;
}

/* line 104, ../sass/partials/_general.scss */
.col {
  width: 20%;
}

/* line 110, ../sass/partials/_general.scss */
.socialMedia a {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #808285;
  color: #39383b;
  line-height: 25px;
  text-align: center;
  height: 25px;
  margin: 0 15px 15px 0;
  width: 25px;
}
/* line 121, ../sass/partials/_general.scss */
.socialMedia a:hover {
  color: #fff;
}
/* line 125, ../sass/partials/_general.scss */
.socialMedia .btnPin {
  background: #39383b;
  color: #808285;
  font-size: 30px;
  margin-top: -1px;
}
/* line 130, ../sass/partials/_general.scss */
.socialMedia .btnPin:hover {
  color: #cb2027;
}
/* line 132, ../sass/partials/_general.scss */
.socialMedia .btnPin:hover i {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}

/* line 139, ../sass/partials/_general.scss */
.btnFB {
  font-size: 17px;
}
/* line 141, ../sass/partials/_general.scss */
.btnFB:hover {
  background: #3b5998;
}

/* line 145, ../sass/partials/_general.scss */
.btnTW {
  font-size: 18px;
}
/* line 147, ../sass/partials/_general.scss */
.btnTW:hover {
  background: #00aced;
}

/* line 151, ../sass/partials/_general.scss */
.btnIn {
  font-size: 13px;
}
/* line 153, ../sass/partials/_general.scss */
.btnIn:hover {
  background: #1180ba;
}

/* line 157, ../sass/partials/_general.scss */
.btnIG {
  font-size: 18px;
}

/* line 160, ../sass/partials/_general.scss */
.btnYT {
  font-size: 19px;
}
/* line 162, ../sass/partials/_general.scss */
.btnYT:hover {
  background: #f33;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 169, ../sass/partials/_general.scss */
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 180, ../sass/partials/_general.scss */
  .col {
    display: block;
    float: none;
    margin: 15px auto;
    width: 80%;
  }
}
/* line 3, ../sass/partials/_header.scss */
.hdrMTW {
  height: 55px;
  padding: 10px 0 15px;
  background: #fff;
  position: relative;
  z-index: 5;
}
/* line 9, ../sass/partials/_header.scss */
.hdrMTW nav {
  float: right;
}
/* line 12, ../sass/partials/_header.scss */
.hdrMTW.sticky {
  position: fixed;
  top: 0;
}

/* line 18, ../sass/partials/_header.scss */
.logoMTW {
  background: url(../../../images/logoMTW.jpg) 0 0 no-repeat;
  margin-right: 20px;
}
/* line 22, ../sass/partials/_header.scss */
.logoMTW,
.logoMTW img {
  width: 140px;
  height: 47px;
}

/* line 30, ../sass/partials/_header.scss */
.mainNav {
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}
/* line 34, ../sass/partials/_header.scss */
.mainNav a {
  color: #39383b;
  text-decoration: none;
}
/* line 37, ../sass/partials/_header.scss */
.mainNav a:hover {
  color: #00aee6;
}

/* line 42, ../sass/partials/_header.scss */
.navItem {
  display: inline-block;
  margin-left: 55px;
  padding: 20px 0;
}
/* line 46, ../sass/partials/_header.scss */
.navItem > a {
  text-transform: uppercase;
}
/* line 49, ../sass/partials/_header.scss */
.navItem:first-child {
  margin: 0;
}

/* line 58, ../sass/partials/_header.scss */
.subNav {
  background: #808285;
  display: none;
  text-align: center;
  margin-top: 20px;
  position: absolute;
  left: 0;
  width: 100%;
}
/* line 66, ../sass/partials/_header.scss */
.subNav li {
  display: inline-block;
  padding: 10px 20px;
}
/* line 70, ../sass/partials/_header.scss */
.subNav a {
  color: #fff;
  width: 100%;
  height: 100%;
}
/* line 75, ../sass/partials/_header.scss */
.subNav a:hover {
  color: #00506e;
}

/* line 82, ../sass/partials/_header.scss */
.btnNav {
  color: #39383b;
  display: none;
  font-size: 30px;
  line-height: 30px;
}

@media only screen and (max-width: 819px) {
  /* line 89, ../sass/partials/_header.scss */
  .btnNav {
    display: block;
  }

  /* line 92, ../sass/partials/_header.scss */
  .mainNav {
    display: none;
  }
}
/* line 3, ../sass/partials/_homepage.scss */
.homeContent {
  color: #fff;
}
/* line 5, ../sass/partials/_homepage.scss */
.homeContent h1 {
  font-size: 45px;
  line-height: 47px;
  margin: 0 0 45px;
}
/* line 10, ../sass/partials/_homepage.scss */
.homeContent h3 {
  font-size: 30px;
  line-height: 32px;
}

/* line 15, ../sass/partials/_homepage.scss */
.heroButtons a, .btnMTW, .coContent .btnCO, .greenSignupBtn a, .bigBtn {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  padding: 15px 0;
}

/* line 25, ../sass/partials/_homepage.scss */
.btnMTW, .coContent .btnCO, .greenSignupBtn, .bigBtn {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #d3de25;
  width: 100%;
  max-width: 180px;
  height: 20px;
}
/* line 31, ../sass/partials/_homepage.scss */
.btnMTW:hover, .coContent .btnCO:hover, .greenSignupBtn:hover, .bigBtn:hover {
  background: #fff;
  color: #d3de25;
}

/* line 38, ../sass/partials/_homepage.scss */
.mtwHero {
  background: #3d3d3f;
  height: 480px;
  max-height: 480px;
}

/* line 43, ../sass/partials/_homepage.scss */
.heroContent {
  padding: 90px 0;
  max-width: 475px;
}

/* line 47, ../sass/partials/_homepage.scss */
.heroButtons {
  margin-top: 40px;
}

/* line 54, ../sass/partials/_homepage.scss */
.btnMTW {
  text-align: center;
  margin-right: 20px;
}

/* line 62, ../sass/partials/_homepage.scss */
.mtwMission {
  background: #00506e;
  font-size: 21px;
  line-height: 23px;
  text-align: center;
  padding: 25px 0;
}

/* line 71, ../sass/partials/_homepage.scss */
.coreValues {
  margin: 60px auto;
  text-align: center;
}

/* line 75, ../sass/partials/_homepage.scss */
.hdrValues {
  color: #00506e;
  text-transform: uppercase;
  margin: 0 0 40px;
}

/* line 80, ../sass/partials/_homepage.scss */
.value {
  color: #3d3d3f;
  width: 25%;
}
/* line 84, ../sass/partials/_homepage.scss */
.value .imgValue {
  background: #3d3d3f;
  width: 100%;
  height: 140px;
  max-width: 140px;
  max-height: 140px;
  margin: 0 auto 15px;
}
/* line 92, ../sass/partials/_homepage.scss */
.value p {
  padding: 0 15px;
}

/* line 98, ../sass/partials/_homepage.scss */
.callOuts {
  background: #e6e7e8;
  padding: 60px 0 70px;
}

/* line 102, ../sass/partials/_homepage.scss */
.callOutBox {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  width: 49%;
  height: 280px;
  max-width: 460px;
  max-height: 280px;
}

/* line 111, ../sass/partials/_homepage.scss */
.coContent {
  padding: 0 25px;
}
/* line 113, ../sass/partials/_homepage.scss */
.coContent .btnCO {
  margin: 15px auto;
}

/* line 120, ../sass/partials/_homepage.scss */
.coSignUp {
  background: #00506e;
  margin-right: 2%;
}

/* line 125, ../sass/partials/_homepage.scss */
.coTips {
  background: #00506e;
}
/* line 127, ../sass/partials/_homepage.scss */
.coTips .hasImg {
  width: 50%;
  max-width: 230px;
}
/* line 132, ../sass/partials/_homepage.scss */
.coTips .btnCO {
  background: #00aee6;
}
/* line 134, ../sass/partials/_homepage.scss */
.coTips .btnCO:hover {
  color: #00aee6;
}

/* line 139, ../sass/partials/_homepage.scss */
.imgCOTip {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 280px;
  width: 50%;
  max-width: 230px;
}

@media only screen and (max-width: 862px) {
  /* line 150, ../sass/partials/_homepage.scss */
  .coTips .hasImg {
    float: none;
    width: 100%;
    max-width: 100%;
  }

  /* line 156, ../sass/partials/_homepage.scss */
  .imgCOTip {
    display: none;
  }
}
@media only screen and (max-width: 599px) {
  /* line 162, ../sass/partials/_homepage.scss */
  .homeContent h1 {
    font-size: 40px;
    line-height: 42px;
  }
  /* line 166, ../sass/partials/_homepage.scss */
  .homeContent h3 {
    font-size: 26px;
    line-height: 28px;
  }

  /* line 171, ../sass/partials/_homepage.scss */
  .coContent {
    padding: 0 15px;
  }
  /* line 173, ../sass/partials/_homepage.scss */
  .coContent .btnCO {
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    padding: 10px 0;
  }
}
/* line 3, ../sass/partials/_subpage.scss */
.pageContent {
  padding: 0 0 15px;
}
/* line 5, ../sass/partials/_subpage.scss */
.pageContent p,
.pageContent ol,
.pageContent ul,
.pageContent .supportBox {
  margin: 0 0 15px;
}
/* line 11, ../sass/partials/_subpage.scss */
.pageContent ol,
.pageContent ul {
  padding: 0 0 0 20px;
}
/* line 15, ../sass/partials/_subpage.scss */
.pageContent a {
  color: #00aee6;
}
/* line 17, ../sass/partials/_subpage.scss */
.pageContent a:hover {
  color: #00506e;
}
/* line 21, ../sass/partials/_subpage.scss */
.pageContent.pageMovers {
  padding: 0 20px;
}
/* line 24, ../sass/partials/_subpage.scss */
.pageContent.withSidebar {
  max-width: 735px;
  width: 75%;
}
/* line 30, ../sass/partials/_subpage.scss */
.pageContent .innerContent {
  padding-left: 20px;
}
/* line 34, ../sass/partials/_subpage.scss */
.pageContent .jobTitle {
  margin-top: 35px;
}
/* line 38, ../sass/partials/_subpage.scss */
.pageContent .pageTitle {
  color: #00aee6;
  font-size: 50px;
  font-weight: 700;
  line-height: 54px;
  margin: 0 0 25px;
}
/* line 47, ../sass/partials/_subpage.scss */
.pageContent .supportBox a {
  margin-right: 20px;
}

/* line 52, ../sass/partials/_subpage.scss */
.pageSubtitle {
  color: #00506e;
  font-size: 21px;
  line-height: 26px;
}
/* line 56, ../sass/partials/_subpage.scss */
.pageSubtitle.jobTitle {
  color: #2aa0d6;
}

/* line 61, ../sass/partials/_subpage.scss */
.bodyImage {
  height: 288px;
  width: 460px;
}
/* line 64, ../sass/partials/_subpage.scss */
.bodyImage.leftSide {
  margin-right: 22px;
}
/* line 68, ../sass/partials/_subpage.scss */
.bodyImage.rightSide {
  float: right;
  margin-left: 22px;
}

/* line 76, ../sass/partials/_subpage.scss */
.mtwSidebar {
  background: #00749c;
  color: #fff;
  width: 25%;
  max-width: 260px;
}
/* line 83, ../sass/partials/_subpage.scss */
.mtwSidebar p {
  margin: 0 0 15px;
}
/* line 86, ../sass/partials/_subpage.scss */
.mtwSidebar ul {
  margin: 0 0 15px 20px;
}
/* line 89, ../sass/partials/_subpage.scss */
.mtwSidebar hr {
  border-top: 1px solid #fff;
  margin: 25px 0;
}
/* line 93, ../sass/partials/_subpage.scss */
.mtwSidebar a:hover {
  color: #4c4c4e;
  text-decoration: underline;
}

/* line 98, ../sass/partials/_subpage.scss */
.sidebarContent {
  padding: 20px;
}

/* line 101, ../sass/partials/_subpage.scss */
.sidebarTitle {
  color: #d7df27;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  margin: 15px 0;
}

/* line 3, ../sass/partials/_movers.scss */
.moversShakers,
.boardMembers {
  margin-bottom: 30px;
}

/* line 7, ../sass/partials/_movers.scss */
.indivMover {
  text-align: center;
  margin-right: 30px;
}

/* line 11, ../sass/partials/_movers.scss */
.indivMover.lastColumn {
  margin-right: 0;
}

/* line 14, ../sass/partials/_movers.scss */
.moverLink {
  margin-bottom: 10px;
}

/* line 17, ../sass/partials/_movers.scss */
.moverLink,
.indivMover img {
  height: 208px;
}

/* line 21, ../sass/partials/_movers.scss */
.indivMover,
.indivMover img {
  width: 210px;
}

/* line 25, ../sass/partials/_movers.scss */
.indivMover span,
.popupPerson .moverName {
  display: block;
}

/* line 29, ../sass/partials/_movers.scss */
.moverLink:hover .imgMover,
.imgMoverRO {
  display: none;
}

/* line 33, ../sass/partials/_movers.scss */
.moverLink:hover .imgMoverRO {
  display: block;
}

/* line 36, ../sass/partials/_movers.scss */
.pageTitle.supportTitle,
.boardMembers .indivMover span,
.popupPerson.supportPerson .moverName {
  color: #2aa0d6;
}

/* line 44, ../sass/partials/_movers.scss */
.moverPopups {
  display: none;
  width: 670px;
  padding: 30px 55px;
  text-transform: none;
  font-weight: 400;
  background: url(../../../images/bkgrdMTWCarouselDesc.png) repeat;
  background: rgba(202, 219, 35, 0.85);
  color: #404041;
}

/* line 54, ../sass/partials/_movers.scss */
.popupPerson {
  display: none;
}

/* line 57, ../sass/partials/_movers.scss */
.popupPerson.active {
  display: block;
}

/* line 60, ../sass/partials/_movers.scss */
.btnClosePopup {
  background: url(../../../images/movers/btnClosePopup.png) no-repeat;
  position: absolute;
  top: 22px;
  right: 22px;
}

/* line 66, ../sass/partials/_movers.scss */
.btnClosePopup,
.btnClosePopup img {
  width: 32px;
  height: 32px;
}

/* line 71, ../sass/partials/_movers.scss */
.popupPerson .imgMoverPopup {
  margin: 0 15px 15px 0;
  width: 210px;
  height: 210px;
}

/* line 76, ../sass/partials/_movers.scss */
.popupPerson .personTitle {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  padding-top: 150px;
}

/* line 82, ../sass/partials/_movers.scss */
.popupPerson p {
  margin: 10px 0;
}

/* line 2, ../sass/partials/_signup.scss */
.signupContent h3 {
  font-size: 30px;
  line-height: 32px;
}

/* line 9, ../sass/partials/_signup.scss */
.howWorks {
  margin: 60px auto;
  text-align: center;
}

/* line 13, ../sass/partials/_signup.scss */
.hdrWorks {
  color: #00506e;
  text-transform: uppercase;
  margin: 0 0 40px;
}

/* line 18, ../sass/partials/_signup.scss */
.workEx {
  color: #3d3d3f;
  width: 25%;
}
/* line 22, ../sass/partials/_signup.scss */
.workEx .imgWorks {
  background: #3d3d3f;
  width: 100%;
  height: 140px;
  max-width: 140px;
  max-height: 140px;
  margin: 0 auto 15px;
}
/* line 30, ../sass/partials/_signup.scss */
.workEx p {
  padding: 0 15px;
}

/* line 36, ../sass/partials/_signup.scss */
.socialSection {
  background: #00506e;
  font-size: 21px;
  line-height: 23px;
  text-align: center;
  padding: 25px 0;
}

/* line 45, ../sass/partials/_signup.scss */
.greenSignupBtn {
  font-size: 21px;
  height: auto;
  margin: 40px auto;
  max-width: 300px;
}

/* line 55, ../sass/partials/_signup.scss */
.bigBtn {
  text-align: center;
  max-width: 300px;
}
