/* line 15, ../sass/partials/_base.scss */
.clearfix:after, .mainNav li, .navItem:hover .subNav, .subNav a, .socialMedia a {
  display: block;
}

/* line 18, ../sass/partials/_base.scss */
.floatLeft, .logoMTW, .navItem, .value, .callOutBox, .col, .socialMedia a {
  float: left;
}

/* line 4, ../sass/mtw.scss */
.spriteLink {
  background-position: top left;
  display: block;
}

/* line 8, ../sass/mtw.scss */
.spriteLink:hover {
  background-position: bottom left;
}

/* line 11, ../sass/mtw.scss */
.clear {
  clear: both;
}

/* line 17, ../sass/mtw.scss */
.floatRight {
  float: right;
}

/* line 22, ../sass/mtw.scss */
body {
  background: #fff;
  margin: 0 auto;
  font: 400 14px/16px 'Open Sans', Arial, Helvetica, sans-serif;
  color: #808285;
}

/* line 28, ../sass/mtw.scss */
.clearfix:after {
  content: "";
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

/* line 37, ../sass/mtw.scss */
.container {
  width: 100%;
  margin: 0 auto;
}

/* line 41, ../sass/mtw.scss */
.box {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 320px;
  max-width: 980px;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 49, ../sass/mtw.scss */
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 55, ../sass/mtw.scss */
  .container {
    width: 92%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 61, ../sass/mtw.scss */
  .container {
    width: 92%;
  }
}
/* line 66, ../sass/mtw.scss */
a {
  color: #fff;
  outline: none;
}
/* line 69, ../sass/mtw.scss */
a:hover {
  color: #2aa0d6;
}

/* line 73, ../sass/mtw.scss */
img {
  border: 0 none;
}

/* line 76, ../sass/mtw.scss */
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* line 83, ../sass/mtw.scss */
header,
footer {
  width: 100%;
}

/*HEADER*/
/* line 90, ../sass/mtw.scss */
.hdrMTW {
  height: 55px;
  padding: 10px 0 15px;
  background: #fff;
  position: relative;
  z-index: 5;
}
/* line 96, ../sass/mtw.scss */
.hdrMTW nav {
  float: right;
}
/* line 99, ../sass/mtw.scss */
.hdrMTW.sticky {
  position: fixed;
  top: 0;
}

/* line 105, ../sass/mtw.scss */
.logoMTW {
  background: url(../../../images/logoMTW.png) 0 0 no-repeat;
}
/* line 108, ../sass/mtw.scss */
.logoMTW,
.logoMTW img {
  width: 140px;
  height: 47px;
}

/* line 116, ../sass/mtw.scss */
.mainNav {
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}
/* line 123, ../sass/mtw.scss */
.mainNav a {
  color: #808285;
  text-decoration: none;
}
/* line 126, ../sass/mtw.scss */
.mainNav a:hover {
  color: #23ade4;
}

/* line 131, ../sass/mtw.scss */
.navItem {
  margin-left: 55px;
  padding: 20px 0;
}
/* line 135, ../sass/mtw.scss */
.navItem > a {
  text-transform: uppercase;
}

/* line 144, ../sass/mtw.scss */
.subNav {
  background: #fff;
  display: none;
  margin-left: -20px;
  padding-top: 31px;
  position: absolute;
}
/* line 150, ../sass/mtw.scss */
.subNav li {
  padding: 10px 20px;
}
/* line 153, ../sass/mtw.scss */
.subNav a {
  color: #808285;
  width: 100%;
  height: 100%;
}

/* line 163, ../sass/mtw.scss */
.mtwWrapper {
  position: relative;
  width: 100%;
  padding-top: 80px;
}

/* line 171, ../sass/mtw.scss */
.homeContent {
  color: #fff;
}

/* line 176, ../sass/mtw.scss */
.mtwMission {
  background: #23ade4;
  font-size: 21px;
  line-height: 23px;
  text-align: center;
  padding: 25px 125px;
}

/* line 185, ../sass/mtw.scss */
.coreValues {
  margin: 60px auto;
}
/* line 187, ../sass/mtw.scss */
.coreValues > p {
  color: #76a6d8;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 65px;
}

/* line 201, ../sass/mtw.scss */
.value {
  color: #808285;
  width: 25%;
}
/* line 205, ../sass/mtw.scss */
.value .imgValue {
  background: #808285;
  width: 100%;
  height: 220px;
  max-width: 220px;
  max-height: 220px;
  margin: 0 auto 15px;
}
/* line 213, ../sass/mtw.scss */
.value p {
  padding: 0 15px;
}

/* line 219, ../sass/mtw.scss */
.callOuts {
  background: #e6e7e8;
  padding: 60px 0 70px;
}

/* line 223, ../sass/mtw.scss */
.callOutBox {
  width: 50%;
  height: 280px;
  max-width: 460px;
  max-height: 280px;
}

/* line 231, ../sass/mtw.scss */
.coSignUp {
  background: #23ade4;
  margin-right: 20px;
}

/* line 236, ../sass/mtw.scss */
.coTips {
  background: #23ade4;
}

/* line 242, ../sass/mtw.scss */
.mtwPage {
  text-transform: none;
  font-weight: 400;
  line-height: 20px;
}

/* line 247, ../sass/mtw.scss */
.pageContent {
  width: 645px;
  padding: 15px 0;
}
/* line 250, ../sass/mtw.scss */
.pageContent p,
.pageContent ol,
.pageContent ul,
.pageContent .supportBox {
  margin: 0 0 15px;
}
/* line 256, ../sass/mtw.scss */
.pageContent ol,
.pageContent ul {
  padding: 0 0 0 20px;
}
/* line 260, ../sass/mtw.scss */
.pageContent a {
  color: #2aa0d6;
}
/* line 263, ../sass/mtw.scss */
.pageContent.noSidebar, .pageContent.pageMovers {
  width: 930px;
  padding: 15px;
}

/* line 269, ../sass/mtw.scss */
.pageSubtitle.jobTitle {
  color: #2aa0d6;
}

/* line 272, ../sass/mtw.scss */
.pageContent .jobTitle {
  margin-top: 35px;
}

/* line 275, ../sass/mtw.scss */
.pageTitle,
.pageSubtitle,
.indivMover span,
.popupPerson .moverName {
  color: #b1332e;
  font-weight: 600;
}

/* line 282, ../sass/mtw.scss */
.pageContent .pageTitle {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 25px;
}

/* line 287, ../sass/mtw.scss */
.pageSubtitle,
.sidebarTitle {
  font-size: 16px;
  line-height: 22px;
}

/* line 292, ../sass/mtw.scss */
.pageTitle,
.pageSubtitle,
.sidebarTitle,
.pageMovers {
  text-transform: uppercase;
}

/* line 298, ../sass/mtw.scss */
.mtwSidebar p {
  margin: 0 0 15px;
}

/* line 303, ../sass/mtw.scss */
.pageContent .supportBox a {
  margin-right: 20px;
}

/* line 308, ../sass/mtw.scss */
.mtwSidebar {
  width: 250px;
  padding: 25px;
  /*border:15px solid #fff;*/
  margin: 15px 15px 15px 0;
  position: relative;
  z-index: 3;
  background: #2aa0d6;
  color: #fff;
}

/* line 318, ../sass/mtw.scss */
.imgSidebar img {
  margin: -140px auto 15px;
  display: block;
  width: 243px;
  height: 244px;
}

/* line 324, ../sass/mtw.scss */
.sidebarTitle {
  margin: 15px 0;
  font-weight: 600;
}

/* line 328, ../sass/mtw.scss */
.mtwSidebar ul {
  margin: 0 0 15px 20px;
}

/* line 331, ../sass/mtw.scss */
.mtwSidebar hr {
  border-top: 1px solid #fff;
  margin: 25px 0;
}

/* line 335, ../sass/mtw.scss */
.container .mtwSidebar a:hover {
  color: #4c4c4e;
  text-decoration: underline;
}

/* line 342, ../sass/mtw.scss */
.moversShakers,
.boardMembers {
  margin-bottom: 30px;
}

/* line 346, ../sass/mtw.scss */
.indivMover {
  text-align: center;
  margin-right: 30px;
}

/* line 350, ../sass/mtw.scss */
.indivMover.lastColumn {
  margin-right: 0;
}

/* line 353, ../sass/mtw.scss */
.moverLink {
  margin-bottom: 10px;
}

/* line 356, ../sass/mtw.scss */
.moverLink,
.indivMover img {
  height: 208px;
}

/* line 360, ../sass/mtw.scss */
.indivMover,
.indivMover img {
  width: 210px;
}

/* line 364, ../sass/mtw.scss */
.indivMover span,
.popupPerson .moverName {
  display: block;
}

/* line 368, ../sass/mtw.scss */
.moverLink:hover .imgMover,
.imgMoverRO {
  display: none;
}

/* line 372, ../sass/mtw.scss */
.moverLink:hover .imgMoverRO {
  display: block;
}

/* line 375, ../sass/mtw.scss */
.pageTitle.supportTitle,
.boardMembers .indivMover span,
.popupPerson.supportPerson .moverName {
  color: #2aa0d6;
}

/* line 383, ../sass/mtw.scss */
.moverPopups {
  display: none;
  width: 670px;
  padding: 30px 55px;
  text-transform: none;
  font-weight: 400;
  background: url(../../../images/bkgrdMTWCarouselDesc.png) repeat;
  background: rgba(202, 219, 35, 0.85);
  color: #404041;
}

/* line 393, ../sass/mtw.scss */
.popupPerson {
  display: none;
}

/* line 396, ../sass/mtw.scss */
.popupPerson.active {
  display: block;
}

/* line 399, ../sass/mtw.scss */
.btnClosePopup {
  background: url(../../../images/movers/btnClosePopup.png) no-repeat;
  position: absolute;
  top: 22px;
  right: 22px;
}

/* line 405, ../sass/mtw.scss */
.btnClosePopup,
.btnClosePopup img {
  width: 32px;
  height: 32px;
}

/* line 410, ../sass/mtw.scss */
.popupPerson .imgMoverPopup {
  margin: 0 15px 15px 0;
  width: 210px;
  height: 210px;
}

/* line 415, ../sass/mtw.scss */
.popupPerson .personTitle {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  padding-top: 150px;
}

/* line 421, ../sass/mtw.scss */
.popupPerson p {
  margin: 10px 0;
}

/* line 428, ../sass/mtw.scss */
footer {
  background: #808285;
  color: #fff;
  padding: 20px 0;
  width: 100%;
}
/* line 433, ../sass/mtw.scss */
footer ul {
  list-style: none;
}
/* line 436, ../sass/mtw.scss */
footer a {
  text-decoration: none;
}

/* line 440, ../sass/mtw.scss */
.col {
  width: 20%;
}

/* line 445, ../sass/mtw.scss */
.btnFB {
  background: url(../../../images/btnSocialFB.png) 0 0 no-repeat;
}

/* line 448, ../sass/mtw.scss */
.btnTW {
  background: url(../../../images/btnSocialTW.png) 0 0 no-repeat;
}

/* line 451, ../sass/mtw.scss */
.btnIn {
  background: url(../../../images/btnSocialIn.png) 0 0 no-repeat;
}

/* line 454, ../sass/mtw.scss */
.btnIG {
  background: url(../../../images/btnSocialIG.png) 0 0 no-repeat;
}

/* line 457, ../sass/mtw.scss */
.btnYT {
  background: url(../../../images/btnSocialYT.png) 0 0 no-repeat;
}

/* line 460, ../sass/mtw.scss */
.btnPin {
  background: url(../../../images/btnSocialPin.png) 0 0 no-repeat;
}

/* line 464, ../sass/mtw.scss */
.socialMedia a {
  margin: 0 15px 15px 0;
}
/* line 468, ../sass/mtw.scss */
.socialMedia a,
.socialMedia a img {
  width: 25px;
  height: 25px;
}
/* line 473, ../sass/mtw.scss */
.socialMedia a:hover {
  background-position: left bottom;
}
