/* line 15, ../sass/partials/_base.scss */
.clearfix:after, .socialMedia a, .subNav a, .heroButtons a, .btnMTW, .coContent .btnCO, .blueSignupBtn, .pushbutton-wide, .w2linput.submit, .socialSection a, .btnProgSignUp, .imgCOTip, .pageMovers h3 span, .indivMover a, .indivMover img, .indivMover:hover .moverRO, .indivMover.active .moverRO, .indivMover.active .moverContent, .imgBoard img, .progChoices a, .programContent.active, .question, .progImages img, .example, .example:hover .exampleContent, .vidBox img {
  display: block;
}

/* line 18, ../sass/partials/_base.scss */
.col, .socialMedia a, .logoMTW, .heroButtons a, .value, .callOutBox, .coTips .hasImg, .imgCOTip, .pageContent.withSidebar, .bodyImage.leftSide, .mtwSidebar, .imgBoard, .boardContent, .workEx, .signupBox, .signupHeader, .btnProgEducator, .question, .progImgGrid img {
  float: left;
}

@font-face {
  font-family: "FontAwesome";
  src: url('../fonts/fontawesome-webfont.eot?1416246136');
  src: url('../fonts/fontawesome-webfont.eot?&1416246136#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?1416246136') format('woff'), url('../fonts/fontawesome-webfont.ttf?1416246136') format('truetype'), url('../fonts/fontawesome-webfont.svg?1416246136') format('svg');
}
/* line 10, ../sass/partials/_fonts.scss */
.fa {
  display: inline-block;
  font-family: FontAwesome, cursive;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 3, ../sass/partials/_general.scss */
body {
  background: #fff;
  margin: 0 auto;
  font: 400 14px/16px 'Open Sans', Arial, Helvetica, sans-serif;
  color: #39383b;
}

/* line 9, ../sass/partials/_general.scss */
.clearfix:after {
  content: "";
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

/* line 18, ../sass/partials/_general.scss */
.container {
  width: 100%;
  margin: 0 auto;
  min-width: 320px;
}

/* line 23, ../sass/partials/_general.scss */
.box {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
}

/* line 30, ../sass/partials/_general.scss */
a {
  color: #00aee6;
  outline: none;
}
/* line 33, ../sass/partials/_general.scss */
a:hover {
  color: #00506e;
}
/* line 36, ../sass/partials/_general.scss */
a:focus {
  outline: none;
}

/* line 40, ../sass/partials/_general.scss */
img,
iframe {
  border: 0 none;
}

/* line 44, ../sass/partials/_general.scss */
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

/* line 51, ../sass/partials/_general.scss */
header,
footer {
  width: 100%;
}

/* line 57, ../sass/partials/_general.scss */
.mtwWrapper {
  margin: 0 auto;
  padding-top: 80px;
  width: 100%;
}

/* line 64, ../sass/partials/_general.scss */
footer {
  background: #39383b;
  color: #fff;
  padding: 20px 0;
  width: 100%;
}
/* line 70, ../sass/partials/_general.scss */
footer .colHead {
  border-bottom: 1px dotted;
  font-size: 15px;
  line-height: 17px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}
/* line 78, ../sass/partials/_general.scss */
footer ul {
  list-style: none;
  font-size: 13px;
  line-height: 16px;
}
/* line 83, ../sass/partials/_general.scss */
footer a {
  color: #fff;
  text-decoration: none;
}
/* line 86, ../sass/partials/_general.scss */
footer a:hover {
  color: #00aee6;
}

/* line 91, ../sass/partials/_general.scss */
.col {
  box-sizing: border-box;
  padding: 0 10px;
  width: 20%;
}

/* line 99, ../sass/partials/_general.scss */
.socialMedia a {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #808285;
  color: #39383b;
  line-height: 25px;
  text-align: center;
  height: 25px;
  margin: 0 15px 15px 0;
  width: 25px;
}
/* line 110, ../sass/partials/_general.scss */
.socialMedia a:hover {
  color: #fff;
}
/* line 114, ../sass/partials/_general.scss */
.socialMedia .btnPin {
  background: #39383b;
  color: #808285;
  font-size: 30px;
  margin-top: -1px;
}
/* line 119, ../sass/partials/_general.scss */
.socialMedia .btnPin:hover {
  color: #cb2027;
}
/* line 121, ../sass/partials/_general.scss */
.socialMedia .btnPin:hover i {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}

/* line 128, ../sass/partials/_general.scss */
.btnFB {
  font-size: 17px;
}
/* line 130, ../sass/partials/_general.scss */
.btnFB:hover {
  background: #3b5998;
}

/* line 134, ../sass/partials/_general.scss */
.btnTW {
  font-size: 18px;
}
/* line 136, ../sass/partials/_general.scss */
.btnTW:hover {
  background: #00aced;
}

/* line 140, ../sass/partials/_general.scss */
.btnIn {
  font-size: 13px;
}
/* line 142, ../sass/partials/_general.scss */
.btnIn:hover {
  background: #1180ba;
}

/* line 146, ../sass/partials/_general.scss */
.btnIG {
  font-size: 18px;
}

/* line 149, ../sass/partials/_general.scss */
.btnYT {
  font-size: 19px;
}
/* line 151, ../sass/partials/_general.scss */
.btnYT:hover {
  background: #f33;
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 158, ../sass/partials/_general.scss */
  .container {
    width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  /* line 169, ../sass/partials/_general.scss */
  .col {
    float: none;
    margin: 15px auto;
    padding: 0;
    width: 100%;
  }
}
/* line 3, ../sass/partials/_header.scss */
.hdrMTW {
  height: 55px;
  padding: 10px 0 15px;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 5;
}
/* line 10, ../sass/partials/_header.scss */
.hdrMTW.unsticky {
  position: relative;
  margin-bottom: -80px;
}
/* line 14, ../sass/partials/_header.scss */
.hdrMTW nav {
  float: right;
}

/* line 19, ../sass/partials/_header.scss */
.logoMTW {
  background: url(../../../images/logoMTW.jpg) 0 0 no-repeat;
  margin-right: 20px;
}
/* line 23, ../sass/partials/_header.scss */
.logoMTW,
.logoMTW img {
  width: 140px;
  height: 47px;
}

/* line 31, ../sass/partials/_header.scss */
.mainNav {
  font-size: 16px;
  line-height: 18px;
  list-style: none;
}
/* line 35, ../sass/partials/_header.scss */
.mainNav a {
  color: #39383b;
  text-decoration: none;
}
/* line 38, ../sass/partials/_header.scss */
.mainNav a:hover {
  color: #00aee6;
}

/* line 43, ../sass/partials/_header.scss */
.navItem {
  display: inline-block;
  margin-left: 55px;
  padding: 20px 0;
}
/* line 47, ../sass/partials/_header.scss */
.navItem > a {
  text-transform: uppercase;
}
/* line 50, ../sass/partials/_header.scss */
.navItem:first-child {
  margin: 0;
}

/* line 54, ../sass/partials/_header.scss */
.subNav {
  background: #808285;
  display: none;
  margin-top: 20px;
}
/* line 58, ../sass/partials/_header.scss */
.subNav li {
  display: inline-block;
  padding: 10px 20px;
}
/* line 62, ../sass/partials/_header.scss */
.subNav li.current_page_item a {
  color: #00506e;
}
/* line 67, ../sass/partials/_header.scss */
.subNav a {
  color: #fff;
  width: 100%;
  height: 100%;
}
/* line 72, ../sass/partials/_header.scss */
.subNav a:hover {
  color: #00506e;
}

@media only screen and (min-width: 820px) {
  /* line 80, ../sass/partials/_header.scss */
  .navItem:hover .subNav {
    display: block;
  }

  /* line 85, ../sass/partials/_header.scss */
  .subNav {
    box-sizing: border-box;
    text-align: center;
    padding: 0 20px;
    position: absolute;
    left: 0;
    width: 100%;
  }
}
/* line 96, ../sass/partials/_header.scss */
.btnNav {
  color: #39383b;
  display: none;
  font-size: 30px;
  line-height: 30px;
}

@media only screen and (max-width: 819px) {
  /* line 103, ../sass/partials/_header.scss */
  .logoMTW {
    position: relative;
    z-index: 3;
  }

  /* line 108, ../sass/partials/_header.scss */
  .hdrMTW nav {
    text-align: right;
  }

  /* line 112, ../sass/partials/_header.scss */
  .btnNav {
    display: block;
  }

  /* line 115, ../sass/partials/_header.scss */
  .mainNav {
    background: #fff;
    display: none;
    padding: 20px 20px 0;
    position: absolute;
    right: 0;
  }
  /* line 121, ../sass/partials/_header.scss */
  .mainNav.active {
    display: block;
  }

  /* line 125, ../sass/partials/_header.scss */
  .navItem {
    display: block;
    margin: 0;
    padding-top: 0;
  }

  /* line 130, ../sass/partials/_header.scss */
  .subNav {
    display: block;
  }
  /* line 132, ../sass/partials/_header.scss */
  .subNav li {
    display: block;
  }
}
/* line 3, ../sass/partials/_homepage.scss */
.homeContent {
  color: #fff;
}
/* line 5, ../sass/partials/_homepage.scss */
.homeContent h1 {
  font-size: 45px;
  line-height: 47px;
  margin: 0 0 45px;
}
/* line 10, ../sass/partials/_homepage.scss */
.homeContent h3 {
  font-size: 30px;
  line-height: 32px;
}

/* line 15, ../sass/partials/_homepage.scss */
.heroButtons a, .btnMTW, .coContent .btnCO, .blueSignupBtn, .pushbutton-wide, .w2linput.submit, .socialSection a, .btnProgSignUp {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  padding: 15px 0;
}
/* line 25, ../sass/partials/_homepage.scss */
.heroButtons a:hover, .btnMTW:hover, .coContent .btnCO:hover, .blueSignupBtn:hover, .pushbutton-wide:hover, .w2linput.submit:hover, .socialSection a:hover, .btnProgSignUp:hover {
  color: #00aee6;
}

/* line 29, ../sass/partials/_homepage.scss */
.btnMTW, .coContent .btnCO, .blueSignupBtn, .pushbutton-wide, .w2linput.submit, .socialSection a, .btnProgSignUp {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #d3de25;
  width: 100%;
  max-width: 180px;
  height: 20px;
}
/* line 35, ../sass/partials/_homepage.scss */
.btnMTW:hover, .coContent .btnCO:hover, .blueSignupBtn:hover, .pushbutton-wide:hover, .w2linput.submit:hover, .socialSection a:hover, .btnProgSignUp:hover {
  background: #fff;
  color: #d3de25;
}

/* line 42, ../sass/partials/_homepage.scss */
.mtwHero {
  background: #3d3d3f;
  height: 480px;
  max-height: 480px;
}

/* line 47, ../sass/partials/_homepage.scss */
.heroContent {
  padding: 90px 0;
  max-width: 475px;
}

/* line 51, ../sass/partials/_homepage.scss */
.heroButtons {
  margin-top: 40px;
}

/* line 58, ../sass/partials/_homepage.scss */
.btnMTW {
  text-align: center;
  margin-right: 20px;
}

/* line 66, ../sass/partials/_homepage.scss */
.mtwMission {
  background: #00506e;
  font-size: 21px;
  line-height: 23px;
  text-align: center;
  padding: 25px 0;
}

/* line 75, ../sass/partials/_homepage.scss */
.coreValues {
  margin: 60px auto;
  text-align: center;
}

/* line 79, ../sass/partials/_homepage.scss */
.hdrValues {
  color: #00506e;
  text-transform: uppercase;
  margin: 0 0 40px;
}

/* line 84, ../sass/partials/_homepage.scss */
.value {
  color: #3d3d3f;
  width: 25%;
}
/* line 88, ../sass/partials/_homepage.scss */
.value .imgValue {
  background: #3d3d3f;
  width: 100%;
  height: 140px;
  max-width: 140px;
  max-height: 140px;
  margin: 0 auto 15px;
}
/* line 96, ../sass/partials/_homepage.scss */
.value p {
  padding: 0 15px;
}

/* line 102, ../sass/partials/_homepage.scss */
.callOuts {
  background: #e6e7e8;
  padding: 60px 0 70px;
}

/* line 106, ../sass/partials/_homepage.scss */
.callOutBox {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-align: center;
  width: 49%;
  height: 280px;
  max-width: 460px;
  max-height: 280px;
}

/* line 115, ../sass/partials/_homepage.scss */
.coContent {
  padding: 0 25px;
}
/* line 117, ../sass/partials/_homepage.scss */
.coContent .btnCO {
  margin: 15px auto;
}

/* line 124, ../sass/partials/_homepage.scss */
.coSignUp {
  background: #00506e;
  margin-right: 2%;
}

/* line 129, ../sass/partials/_homepage.scss */
.coTips {
  background: #00506e;
}
/* line 131, ../sass/partials/_homepage.scss */
.coTips .hasImg {
  width: 50%;
  max-width: 230px;
}
/* line 136, ../sass/partials/_homepage.scss */
.coTips .btnCO {
  background: #00aee6;
}
/* line 138, ../sass/partials/_homepage.scss */
.coTips .btnCO:hover {
  color: #00aee6;
}

/* line 143, ../sass/partials/_homepage.scss */
.imgCOTip {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  height: 280px;
  width: 50%;
  max-width: 230px;
}

@media only screen and (max-width: 862px) {
  /* line 154, ../sass/partials/_homepage.scss */
  .coTips .hasImg {
    float: none;
    width: 100%;
    max-width: 100%;
  }

  /* line 160, ../sass/partials/_homepage.scss */
  .imgCOTip {
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  /* line 165, ../sass/partials/_homepage.scss */
  .mtwHero {
    height: 590px;
    max-height: 590px;
  }

  /* line 170, ../sass/partials/_homepage.scss */
  .value {
    margin: 0 auto 20px;
    width: 50%;
  }

  /* line 175, ../sass/partials/_homepage.scss */
  .callOutBox {
    float: none;
    margin: 0 auto;
    width: 85%;
  }
  /* line 179, ../sass/partials/_homepage.scss */
  .callOutBox:first-child {
    margin-bottom: 20px;
  }

  /* line 184, ../sass/partials/_homepage.scss */
  .coContent {
    padding-top: 20px;
  }
}
@media only screen and (max-width: 599px) {
  /* line 190, ../sass/partials/_homepage.scss */
  .homeContent h1 {
    font-size: 40px;
    line-height: 42px;
  }
  /* line 194, ../sass/partials/_homepage.scss */
  .homeContent h3 {
    font-size: 26px;
    line-height: 28px;
  }

  /* line 200, ../sass/partials/_homepage.scss */
  .coContent .btnCO {
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    padding: 10px 0;
  }
}
@media only screen and (max-width: 482px) {
  /* line 209, ../sass/partials/_homepage.scss */
  .value {
    float: none;
    width: 85%;
  }
}
/* line 3, ../sass/partials/_subpage.scss */
.mtwPage {
  max-width: 980px;
  margin: 0 auto;
}

/* line 8, ../sass/partials/_subpage.scss */
.pageContent {
  padding: 0 0 15px;
}
/* line 10, ../sass/partials/_subpage.scss */
.pageContent h1 {
  color: #00aee6;
  font-size: 50px;
  font-weight: 700;
  line-height: 54px;
  margin: 0 0 25px;
}
/* line 19, ../sass/partials/_subpage.scss */
.pageContent p,
.pageContent ol,
.pageContent ul {
  margin: 0 0 15px;
}
/* line 24, ../sass/partials/_subpage.scss */
.pageContent ol,
.pageContent ul {
  padding: 0 0 0 20px;
}
/* line 28, ../sass/partials/_subpage.scss */
.pageContent.withSidebar {
  max-width: 735px;
  width: 73%;
}
/* line 34, ../sass/partials/_subpage.scss */
.pageContent .jobTitle {
  margin-top: 35px;
}

/* line 39, ../sass/partials/_subpage.scss */
.pageTitle {
  color: #00506e;
  font-size: 30px;
  line-height: 32px;
}

/* line 45, ../sass/partials/_subpage.scss */
.pageSubtitle {
  color: #00506e;
  font-size: 21px;
  line-height: 25px;
}
/* line 49, ../sass/partials/_subpage.scss */
.pageSubtitle.jobTitle {
  color: #00aee6;
}

/* line 54, ../sass/partials/_subpage.scss */
.bodyImage {
  height: 288px;
  width: 460px;
}
/* line 57, ../sass/partials/_subpage.scss */
.bodyImage.leftSide {
  margin-right: 22px;
}
/* line 61, ../sass/partials/_subpage.scss */
.bodyImage.rightSide {
  float: right;
  margin-left: 22px;
}

/* line 66, ../sass/partials/_subpage.scss */
.imgPageContent {
  width: 100%;
}

/* line 72, ../sass/partials/_subpage.scss */
.mtwSidebar {
  background: #00749c;
  color: #fff;
  width: 27%;
  max-width: 260px;
}
/* line 79, ../sass/partials/_subpage.scss */
.mtwSidebar p {
  margin: 0 0 15px;
}
/* line 82, ../sass/partials/_subpage.scss */
.mtwSidebar ul {
  margin: 0 0 15px 20px;
}
/* line 85, ../sass/partials/_subpage.scss */
.mtwSidebar hr {
  border-top: 1px solid #fff;
  margin: 25px 0;
}
/* line 89, ../sass/partials/_subpage.scss */
.mtwSidebar a:hover {
  color: #4c4c4e;
  text-decoration: underline;
}

/* line 94, ../sass/partials/_subpage.scss */
.sidebarContent {
  padding: 20px;
}

/* line 97, ../sass/partials/_subpage.scss */
.sidebarTitle {
  color: #d7df27;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  margin: 15px 0;
}

/* line 4, ../sass/partials/_movers.scss */
.pageMovers h1 {
  text-align: center;
  text-transform: uppercase;
}
/* line 10, ../sass/partials/_movers.scss */
.pageMovers h3 {
  color: #d7df27;
  font-size: 21px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 0 0 30px;
}
/* line 16, ../sass/partials/_movers.scss */
.pageMovers h3 span {
  font-weight: 400;
}
/* line 21, ../sass/partials/_movers.scss */
.pageMovers .movers {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
/* line 26, ../sass/partials/_movers.scss */
.pageMovers .movers li {
  display: inline-block;
  vertical-align: top;
}

/* line 34, ../sass/partials/_movers.scss */
.indivMover {
  width: 24.5%;
}
/* line 36, ../sass/partials/_movers.scss */
.indivMover a {
  text-align: center;
  width: 100%;
  max-width: 210px;
  margin: 0 auto 20px;
  text-decoration: none;
  position: relative;
}
/* line 44, ../sass/partials/_movers.scss */
.indivMover a h3 {
  color: #fff;
  margin: 70px 5px;
}
/* line 49, ../sass/partials/_movers.scss */
.indivMover img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  width: 100%;
  max-width: 210px;
  max-height: 210px;
}
/* line 57, ../sass/partials/_movers.scss */
.indivMover .moverRO {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #00749c;
  color: #fff;
  display: none;
  height: 100%;
  width: 100%;
  max-height: 210px;
  max-width: 210px;
  position: absolute;
  top: 0;
}
/* line 75, ../sass/partials/_movers.scss */
.indivMover.active .moverRO {
  background: none;
  border-radius: 0;
  height: auto;
  position: relative;
}
/* line 81, ../sass/partials/_movers.scss */
.indivMover.active .moverRO h3 {
  color: #d7df27;
  margin: 20px 5px 30px;
}

/* line 92, ../sass/partials/_movers.scss */
.moverContent {
  display: none;
}
/* line 94, ../sass/partials/_movers.scss */
.moverContent:hover {
  cursor: default;
}
/* line 97, ../sass/partials/_movers.scss */
.moverContent.moverDesc {
  position: absolute;
  top: auto;
  left: 0;
}

/* line 105, ../sass/partials/_movers.scss */
.boardMember {
  margin-bottom: 20px;
}

/* line 108, ../sass/partials/_movers.scss */
.imgBoard {
  box-sizing: border-box;
  padding-left: 25px;
  width: 24%;
  max-width: 235px;
}
/* line 114, ../sass/partials/_movers.scss */
.imgBoard img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 100%;
  max-width: 210px;
  min-width: 100px;
  max-height: 210px;
  overflow: hidden;
}

/* line 124, ../sass/partials/_movers.scss */
.boardContent {
  width: 76%;
  max-width: 745px;
}

@media only screen and (min-width: 735px) and (max-width: 987px) {
  /* line 130, ../sass/partials/_movers.scss */
  .indivMover {
    width: 32.5%;
  }
}
@media only screen and (min-width: 501px) and (max-width: 734px) {
  /* line 135, ../sass/partials/_movers.scss */
  .indivMover {
    width: 49.5%;
  }
}
@media only screen and (max-width: 500px) {
  /* line 140, ../sass/partials/_movers.scss */
  .imgBoard {
    float: none;
    width: 100%;
    max-width: none;
    padding-right: 25px;
  }
  /* line 145, ../sass/partials/_movers.scss */
  .imgBoard img {
    margin: 0 auto 20px;
  }

  /* line 149, ../sass/partials/_movers.scss */
  .boardContent {
    float: none;
    width: 100%;
    max-width: auto;
  }

  /* line 154, ../sass/partials/_movers.scss */
  .indivMover {
    float: none;
    width: 100%;
  }
}
/* line 2, ../sass/partials/_signup.scss */
.signupContent h3 {
  font-size: 30px;
  line-height: 32px;
}
/* line 6, ../sass/partials/_signup.scss */
.signupContent .pageContent {
  padding: 0;
}

/* line 12, ../sass/partials/_signup.scss */
.howWorks {
  margin: 60px auto;
  text-align: center;
}

/* line 16, ../sass/partials/_signup.scss */
.hdrWorks {
  color: #00506e;
  text-transform: uppercase;
  margin: 0 0 40px;
}

/* line 21, ../sass/partials/_signup.scss */
.workEx {
  color: #3d3d3f;
  width: 25%;
}
/* line 25, ../sass/partials/_signup.scss */
.workEx .imgWorks {
  background: #3d3d3f;
  width: 100%;
  height: 140px;
  max-width: 140px;
  max-height: 140px;
  margin: 0 auto 15px;
}
/* line 33, ../sass/partials/_signup.scss */
.workEx p {
  padding: 0 15px;
}

/* line 39, ../sass/partials/_signup.scss */
.signupHero {
  background: #3d3d3f;
  height: 480px;
  max-height: 480px;
}

/* line 44, ../sass/partials/_signup.scss */
#signup {
  padding-top: 18px;
}

/* line 47, ../sass/partials/_signup.scss */
.signupBox {
  height: 445px;
  background: #fff;
}

/* line 51, ../sass/partials/_signup.scss */
.signupBox, .signupHeader {
  box-sizing: border-box;
  width: 50%;
  max-width: 550px;
}

/* line 58, ../sass/partials/_signup.scss */
.signupHeader {
  color: #fff;
  font-size: 21px;
  line-height: 25px;
  padding-left: 30px;
}
/* line 63, ../sass/partials/_signup.scss */
.signupHeader h3 {
  margin-bottom: 40px;
}

/* line 69, ../sass/partials/_signup.scss */
.blueSignupBtn, .pushbutton-wide, .w2linput.submit {
  background: #00aee6;
  border: none;
  color: #fff;
  font-size: 21px;
  height: 50px;
  line-height: 25px;
  margin: 20px auto;
  outline: none;
  text-align: center;
  max-width: 300px;
}
/* line 83, ../sass/partials/_signup.scss */
.blueSignupBtn:hover, .pushbutton-wide:hover, .w2linput.submit:hover {
  color: #00aee6;
  background: #949698;
}

/* line 88, ../sass/partials/_signup.scss */
.signupForm {
  padding: 24px 30px 0 30px;
}

/* line 92, ../sass/partials/_signup.scss */
.pushbutton-wide {
  line-height: 0;
  padding: 25px 0;
}

/* line 98, ../sass/partials/_signup.scss */
.salesforce_w2l_lead {
  font-size: 16px;
}
/* line 101, ../sass/partials/_signup.scss */
.salesforce_w2l_lead label {
  color: #00749c;
  margin-bottom: 8px !important;
}
/* line 105, ../sass/partials/_signup.scss */
.salesforce_w2l_lead label span {
  display: none;
}
/* line 110, ../sass/partials/_signup.scss */
.salesforce_w2l_lead input[type=email], .salesforce_w2l_lead input[type=text] {
  -webkit-appearance: none;
  border: 1px solid #cfcfcf;
  border-radius: 0;
  box-sizing: border-box;
  height: 30px;
  outline: 0;
  width: 100% !important;
  max-width: 100% !important;
}
/* line 121, ../sass/partials/_signup.scss */
.salesforce_w2l_lead .sf_field {
  margin-bottom: 13px;
}

/* line 127, ../sass/partials/_signup.scss */
.success_message {
  color: #00749c;
  display: block;
  font-size: 20px;
  line-height: 28px;
  text-align: center !important;
}

/* line 135, ../sass/partials/_signup.scss */
.w2llabel {
  display: block;
}

/* line 140, ../sass/partials/_signup.scss */
.w2linput.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff;
  background: url("../../../images/dropdown_select.jpg") no-repeat;
  /*Adds background-image*/
  background-position: 188px 0;
  border: #CFCFCF 1px solid;
  border-radius: 0;
  height: 30px;
  padding: 5px 0 0 7px;
  text-indent: 0.01px;
  text-overflow: "";
  width: 220px;
}

/* line 156, ../sass/partials/_signup.scss */
select::-ms-expand {
  display: none;
}

@-moz-document url-prefix() {
  /* line 162, ../sass/partials/_signup.scss */
  .sf_type_select {
    overflow: hidden;
    width: 220px;
  }

  /* line 166, ../sass/partials/_signup.scss */
  .sf_type_select select {
    width: 110% !important;
  }
}
/* line 172, ../sass/partials/_signup.scss */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

/* line 177, ../sass/partials/_signup.scss */
input::-moz-focus-inner {
  border: 0;
}

/* line 182, ../sass/partials/_signup.scss */
.socialSection {
  background: #00506e;
  color: #fff;
  font-size: 21px;
  line-height: 23px;
  text-align: center;
  padding: 25px 0;
}
/* line 190, ../sass/partials/_signup.scss */
.socialSection h3 {
  margin: 40px 0;
}
/* line 194, ../sass/partials/_signup.scss */
.socialSection a {
  margin: 40px auto;
  max-width: 300px;
}

@media only screen and (max-width: 700px) {
  /* line 203, ../sass/partials/_signup.scss */
  .signupHero {
    height: 800px;
    max-height: 800px;
  }

  /* line 207, ../sass/partials/_signup.scss */
  .signupBox, .signupHeader {
    box-sizing: border-box;
    float: none;
    margin: 0 auto;
  }

  /* line 212, ../sass/partials/_signup.scss */
  .signupBox {
    margin-top: 40px;
    width: 100%;
  }

  /* line 216, ../sass/partials/_signup.scss */
  .signupHeader {
    padding-left: 0;
    width: 95%;
    max-width: 95%;
  }

  /* line 222, ../sass/partials/_signup.scss */
  .signupForm {
    padding: 24px 15px 0 15px;
  }

  /* line 226, ../sass/partials/_signup.scss */
  .workEx {
    margin: 0 auto 20px;
    width: 50%;
  }
}
@media only screen and (max-width: 482px) {
  /* line 232, ../sass/partials/_signup.scss */
  .workEx {
    float: none;
    width: 85%;
  }
}
/* line 3, ../sass/partials/_program.scss */
.mtwProgram {
  padding-top: 80px;
}
/* line 5, ../sass/partials/_program.scss */
.mtwProgram h3 {
  font-size: 30px;
  line-height: 32px;
}
/* line 9, ../sass/partials/_program.scss */
.mtwProgram .pageContent {
  padding: 0;
}

/* line 13, ../sass/partials/_program.scss */
.progIntro {
  background: #00aee6;
  text-align: center;
  padding: 20px 0 90px;
}
/* line 17, ../sass/partials/_program.scss */
.progIntro h3 {
  color: #fff;
}

/* line 21, ../sass/partials/_program.scss */
.progChoices {
  max-width: 780px;
  margin: 60px auto 0;
}
/* line 24, ../sass/partials/_program.scss */
.progChoices a {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-sizing: border-box;
  background: black;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  color: #d7df27;
  font-size: 30px;
  font-weight: 700;
  line-height: 32px;
  text-decoration: none;
  padding: 118px 20px;
  width: 50%;
  max-width: 300px;
  min-width: 200px;
}
/* line 42, ../sass/partials/_program.scss */
.progChoices a:hover {
  background: rgba(0, 0, 0, 0.75);
  color: #d7df27;
}

/* line 49, ../sass/partials/_program.scss */
.btnProgEducator {
  margin-right: 20px;
}

/* line 53, ../sass/partials/_program.scss */
.btnProgCompany {
  float: right;
}

/* line 58, ../sass/partials/_program.scss */
.programContent {
  display: none;
  margin: 0 auto;
}

/* line 67, ../sass/partials/_program.scss */
.programSection {
  padding-bottom: 20px;
}

/* line 73, ../sass/partials/_program.scss */
.educator.inactive,
.company.inactive {
  display: none;
}

/* line 78, ../sass/partials/_program.scss */
.progVal {
  padding-top: 72px;
  position: relative;
}
/* line 82, ../sass/partials/_program.scss */
.progVal.active .hdrProgVal {
  position: fixed;
  top: 80px;
}
/* line 88, ../sass/partials/_program.scss */
.progVal.bottom .hdrProgVal {
  top: auto;
  bottom: 0;
}

/* line 94, ../sass/partials/_program.scss */
.hdrProgVal {
  text-align: center;
  top: 0;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  min-width: 320px;
  z-index: 4;
}
/* line 102, ../sass/partials/_program.scss */
.hdrProgVal h3 {
  margin: 0;
}

/* line 107, ../sass/partials/_program.scss */
.val1 {
  background: rgba(148, 150, 152, 0.4);
}
/* line 109, ../sass/partials/_program.scss */
.val1 .hdrProgVal {
  background: #949698;
  color: #39383b;
}

/* line 115, ../sass/partials/_program.scss */
.val2 {
  background: rgba(0, 174, 230, 0.4);
}
/* line 117, ../sass/partials/_program.scss */
.val2 .hdrProgVal {
  background: #00aee6;
  color: #fff;
}

/* line 123, ../sass/partials/_program.scss */
.val3 {
  background: rgba(57, 56, 59, 0.4);
}
/* line 125, ../sass/partials/_program.scss */
.val3 .hdrProgVal {
  background: #39383b;
  color: #fff;
}

/* line 131, ../sass/partials/_program.scss */
.val4 {
  background: rgba(215, 223, 39, 0.4);
}
/* line 133, ../sass/partials/_program.scss */
.val4 .hdrProgVal {
  background: #d7df27;
  color: #39383b;
}

/* line 140, ../sass/partials/_program.scss */
.progQuestions {
  color: #fff;
  text-align: center;
}
/* line 143, ../sass/partials/_program.scss */
.progQuestions p {
  display: table-cell;
  vertical-align: middle;
}

/* line 148, ../sass/partials/_program.scss */
.question {
  width: 33%;
  margin: 20px auto;
}

/* line 154, ../sass/partials/_program.scss */
.questionContent {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #00aee6;
  display: table;
  margin: 0 auto;
  height: 215px;
  width: 215px;
  position: relative;
}
/* line 163, ../sass/partials/_program.scss */
.questionContent:hover .questionRO {
  opacity: 1;
}

/* line 168, ../sass/partials/_program.scss */
.questionRO {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #39383b;
  display: table;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* line 183, ../sass/partials/_program.scss */
.progImages img {
  height: auto;
  width: 100%;
}

/* line 190, ../sass/partials/_program.scss */
.progImgGrid img {
  margin-bottom: 20px;
  margin-right: 2%;
  width: 49%;
}
/* line 197, ../sass/partials/_program.scss */
.progImgGrid img:nth-child(2n) {
  margin-right: 0;
}

/* line 204, ../sass/partials/_program.scss */
.example {
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  background: #39383b;
  color: #fff;
  margin-bottom: 20px;
  text-decoration: none;
  width: 100%;
}
/* line 212, ../sass/partials/_program.scss */
.example > p {
  padding: 20px 0;
  text-align: center;
}
/* line 216, ../sass/partials/_program.scss */
.example p {
  margin: 0;
}
/* line 219, ../sass/partials/_program.scss */
.example:hover {
  height: auto;
  color: #fff;
}

/* line 227, ../sass/partials/_program.scss */
.exampleContent {
  -moz-transition: height 0.3s ease;
  -o-transition: height 0.3s ease;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  display: none;
  padding-bottom: 20px;
}

/* line 234, ../sass/partials/_program.scss */
.vidBox {
  margin: 0 auto;
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 239, ../sass/partials/_program.scss */
.vidBox img {
  width: 100%;
  height: auto;
}
/* line 244, ../sass/partials/_program.scss */
.vidBox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 254, ../sass/partials/_program.scss */
.progSignUp {
  padding-top: 40px;
  text-align: center;
}

/* line 258, ../sass/partials/_program.scss */
.btnProgSignUp {
  background: #00aee6;
  color: #fff;
  margin: 20px auto;
  max-width: 300px;
  text-align: center;
}
/* line 266, ../sass/partials/_program.scss */
.btnProgSignUp:hover {
  background: #949698;
  color: #00aee6;
}

@media only screen and (max-width: 749px) {
  /* line 273, ../sass/partials/_program.scss */
  .questionContent {
    height: 160px;
    width: 160px;
  }
}
@media only screen and (max-width: 676px) {
  /* line 279, ../sass/partials/_program.scss */
  .progChoices {
    max-width: 580px;
  }
  /* line 281, ../sass/partials/_program.scss */
  .progChoices a {
    font-size: 24px;
    line-height: 26px;
    padding: 75px 0;
    max-width: 200px;
  }
}
@media only screen and (max-width: 569px) {
  /* line 290, ../sass/partials/_program.scss */
  .question {
    float: none;
    width: 100%;
  }
}
@media only screen and (max-width: 476px) {
  /* line 296, ../sass/partials/_program.scss */
  .progChoices {
    max-width: 600px;
  }
  /* line 298, ../sass/partials/_program.scss */
  .progChoices a {
    float: none;
    margin: 0 auto 20px;
  }
}
